<ul class="nav nav-tabs">
    <li><%= link_to(:"Søk og lagre oppdrag",search_drives_path) %></li>
    <li><%= link_to(:"Mine oppdrag",you_drives_path) %></li>
    <li><%= link_to(:"Min vaktliste", shifts_you_path)%></li>
    <li><%= link_to(:"Alle oppdrag", all_drives_path) %></li>
    <li><%= link_to(:"Administrer", admin_index_path) %></li>
    <li><%= link_to(:Info, info_path) %></li>
</ul>

<p>Du er ikke registert som en sjåfør i systemet ennå. 
	<%= link_to "Trykk her", driver_register_admin_index_path %>
	for å bli registert som en sjåfør.</p>