<ul class="nav nav-tabs">
    <li><%= link_to(:"Søk og lagre oppdrag",search_drives_path) %></li>
    <li><%= link_to(:"Mine oppdrag",you_drives_path) %></li>
    <li><%= link_to(:"Min vaktliste", shifts_you_path)%></li>
    <li><%= link_to(:"Alle oppdrag", all_drives_path) %></li>
    <li class="active"><%= link_to(:"Administrer", admin_index_path) %></li>
    <li><%= link_to(:"Info", info_path) %></li>
</ul>
<%= link_to("Sett opp vaktlister", shifts_admin_index_path) %>
<br>
<div class="row">
	<div class="span6">
		<h3 class="muted">Sjåfører</h3>
		<table id="drive_table_overview" class="table table-condensed table-striped">
			<% @drivers.each do | driver | %>
				<tr>
					<td><%= User.find(driver.user_id).given_name %> (<%= User.find(driver.user_id).username %>) </td>
					<td><%= link_to(:Oppdrag, driver_drives_path(driver.id)) %></td>
					<td><%= link_to "Vaktliste", {:controller => "driver_shifts", :action => "index", :driver_id => driver.id} %></td>
				</tr>
			<% end %>
		</table>
	</div>
	<div class="span3">
		<h4>Legg til sjåfør</h4>
		<%= form_tag(:controller => "drive_admin", :action => "create_driver", :method => "post") do %>
			Brukernavn: <br>
			<%= text_field_tag(:username) %><br>
			<%= submit_tag("Lagre") %>
		<% end %>
	</div>
</div>
<hr>
<div class="row">
	<div class="span6">
		<h3 class="muted">Biler</h3>
		<table id="car_table_overview" class="table table-condensed table-striped">
			<thead>
				<th>ID</th>
				<th>Navn</th>
				<th>Beskrivese</th>
				<th>Plass</th>
				<th>Seter</th>
			</thead>
			<tbody>
				<% @cars.each do |car| %>
				<tr>
					<td><%= car.id%></td>
					<td><%= car.name%></td>
					<td><%= car.description%></td>
					<td><%= car.space%></td>
					<td><%= car.seats%></td>
					<td>
						<%= link_to(:Fjern, car_path(car.id), method: :delete, confirm: "Alle oppdrag denne bilen hadde/har vil bli vist som [Slettet], prøv heller rediger først. Er du sikker på at du vil slette bilen?")%>
					</td>
					<td>
						<%= link_to(:Rediger, edit_car_path(car.id))%>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="span3">
		<h4>Legg til bil</h4>	
		<%= form_for Car.new, :url=> { :controller => "car", :action => "create" } do |f| %>
			Navn:<br> <%= f.text_field :name %><br>
			Beskrivelse:<br> <%= f.text_field :description %><br>
			Plass: <br> <%= f.text_field :space %><br>
			Seter: <br> <%= f.text_field :seats %><br>
			<%= submit_tag("Lagre") %>
		<% end %>
	</div>
</div>


