<ul class="nav nav-tabs">
    <li><%= link_to(:"Søk og lagre oppdrag",search_drives_path) %></li>
    <li><%= link_to(:"Mine oppdrag",you_drives_path) %></li>
    <li><%= link_to(:"Min vaktliste", shifts_you_path)%></li>
    <li><%= link_to(:"Alle oppdrag", all_drives_path) %></li>
    <li><%= link_to(:"Administrer", admin_index_path) %></li>
    <li class="active"><%= link_to(:Info, info_path) %></li>
</ul>

<h2>Litt generell info</h2>
<ul id="info_list">
    <li>
        Folk som har <b>tilgang til Administrer</b> siden har muligheten til å legge til nye sjåfører ved å skrive inn brukernavnet på isfit (brukernavn@isfit.org)
    </li>
    <li>
        <b>Hvorfor er ikke alle i transport sjåfører til å begynne med!?</b> Det er mye enkler å ha oversikt og kontinuerlig legge til nye sjåfører når de blir tatt opp i ISFiT. Og kanskje ikke alle i transport har oppgaven med å være sjåfør.
    </li>
    <li>
        Bare medlemmer under Transport seksjonen har <b>tilgang til dette systemet</b> (med unntak av IT)
    </li>
    <li>
        <b>Alle sjåfører kan føre inn og godkjenne alt.</b> Mao. en sjåfør kan sette et oppdrag som fullført for en annen sjåfør, man kan legge til vakter på vegne av andre sjåfører og kommentere alle oppdrag, etc.
    </li>
    <li>
        Knappene under <b>"Fullført?" kolonnen</b> lagres automatisk i databasen ved hvert trykk.
    </li>
    <li>
        <b>"Start dato" feltet på nye vaktlister/vakter</b> betyr hvilken dato vakten skal begynne. 
        <br>Gitt en startdato og 2 tidspunkt (eller nattskift) som går over i neste dag. E.g. dato: 2013-01-31, start: 20:00, og slutt 02:00, vil vakten vare fra 2013-01-31 20:00 til 2013-02-01 02:00
    </li>
