<%= simple_form_for([:transport,@transport_responsible], wrapper: :horizontal_form, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <div class="form-group">
      <label class="select required control-label col-sm-3">Username</label>
      <div class="col-sm-9">
        <%= f.select :user_id, User.all.map { |u| [u.username, u.id] }, { include_blank: true }, { class: 'chosen-select' } %>
      </div>
    </div>
    <%= f.input :group_id, collection: Group.current { |g| [ g.name_en, g.id ] } %>
  </fieldset>
  <div class="form-group">
    	<div class="col-sm-offset-3 col-sm-9">
    	<%= f.button :submit %>
    	</div>
	</div>
<% end %>