<%= formatting %>

<div class="well">
  <button class="dyntabs btn btn-primary" data-page="images">Image</button>
  <button class="dyntabs btn" data-page="misc">Misc</button>
  <button class="dyntabs btn" data-page="english">English</button>
  <button class="dyntabs btn" data-page="norsk">Norwegian</button>
  <button class="dyntabs btn" data-page="preview">Preview</button>
</div>

<div id="images" class="hidable">
<div id="spp_fileupload">
  <%= form_tag photo_editorial_spp_articles_path , class: "file_upload" do %>
    Drag file here
  <% end %>

  <div class="fileupload-content">
    <table class="files"></table>
    <div class="fileupload-progressbar"></div>
  </div>
</div>
  <div id="img1"></div>
  <div id="img2"></div>
  <div id="img3"></div>
</div>
<%= form_for([:editorial, @spp_article], html: {class: "form-stacked"}) do |f| %>
<% if f.error_messages %>
    <div class="alert-message block-message error" data-alert="true">
      <a href="#" class="close">x</a>
      <%= f.error_messages %>
    </div>
  <% end %>
  <% for attribute in [:x1, :y1, :x2, :y2, :y1_1, :x2_1, :y2_1, :x1_1, :x1_2, :y1_2, :x2_2, :y2_2] %>
    <%= f.hidden_field attribute, id: attribute %>
  <% end %>

  <div id="misc" class="hidable">
  <fieldset>
    <legend><%= t('common.common') %></legend>
      <div class="field">
      <%= f.label :visible %>
      <%= f.check_box :visible %>
    </div>
    <div class="field">
      <p>Pres releases will have a box in the sidebar</p>
      <%= f.label :press_release %>
      <%= f.check_box :press_release %>
    </div>
     <div class="field">
      <%= f.label :image_text %>
      <%= f.text_field :image_text %>
    </div>
      <div class="field">
        <p>Write the name of the journalist</p>
      <%= f.label :byline %>
      <%= f.text_field :byline %>
    </div>

    <div class="field">
      <%= f.label :got_comments %>
      <%= f.check_box :got_comments %>
    </div>
    <div class="field">
      <%= f.label :youtube_link %>
      <%= f.text_field :youtube_link %>
    </div>
    <%= f.hidden_field :photo_id %>
 </fieldset>
 </div>
 <div id="english" class="hidable">
  <fieldset>
    <legend>English</legend>
    <div class="field">
      <%= f.label :title_en %>
      <%= f.text_field :title_en, class: "col-md-12" %>
    </div>
    <div class="field">
      <%= f.label :ingress_en %>
      <%= f.text_area :ingress_en, class: "small col-md-12"  %>
    </div>
    <div class="field">
      <%= f.label :body_en %>
      <%= f.text_area :body_en , class: "col-md-12" %>
    </div>
  </fieldset>
  </div>
  <div id="norsk" class="hidable">
  <fieldset>
    <legend>Norsk</legend>
    <div class="field">
      <%= f.label :title_no %>
      <%= f.text_field :title_no, class: "col-md-12" %>
    </div>
    <div class="field">
      <%= f.label :ingress_no %>
      <%= f.text_area :ingress_no, class: "small col-md-12" %>
    </div>
    <div class="field">
      <%= f.label :body_no %>
      <%= f.text_area :body_no, class: "col-md-12" %>
    </div>
  </fieldset>
  </div>
  <div class="hidable" id="preview">
  Coming soon...
  </div>
  <div class="well">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

