<%= formatting %>
<%= form_for(@static_page, html: {class: "form-stacked"}) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :class => "col-md-12" %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, class: "col-md-12" %>
  </div>
  <div class="type-button">
    <%= f.submit :class => "primary btn" %>
  </div>
<% end %>
