<h1>What I am?!</h1>
<a href="highscore">Highscores</a>

<div id="what_question" class="what_seperate">    
<% @users.each do |user| %>
    <% if user.id == @whatGame.correct_user_id %>
        <h2> Hvem har tittelen: <%= user.positions.last.title_no %></h2>
        <h3></h3>  
    <% end %>
<% end %>
</div>

<div id="what_guesses" class="what_seperate">
<% @users.each_with_index do |user,index| %>
    <% if index == 2 %>
    <br>
    <% end %>
    <form method="POST" >
        <%= form_tag %>
        <input type="hidden" name="whatGame" value="<%= @whatGame.id %>">
        <input type="hidden" name="user_id" value="<%= user.id %>">
        <input class="span3" class="btn" type="submit" name="user_name" value="<%= user.full_name %>">
    </form>
<% end %>
</div>

