<h1>What I am?!</h1>
<div class="pull-right">
  <a href="highscore" class="btn btn-large btn-primary">Highscores</a>
</div>

<div id="what_question" class="what_seperate">
  <legend> Hvem har tittelen: <strong><%= @correct_user.positions.last.title_no %></strong></legend>
</div>

<div id="what_guesses" class="what_seperate">
  <% @users.each_with_index do |user,index| %>
    <% if index == 2 %>
      <br>
    <% end %>
    <form method="POST" >
      <%= form_tag %>
      <input type="hidden" name="whatGame" value="<%= @game.id %>">
      <input type="hidden" name="user_id" value="<%= user.id %>">
      <input class="col-md-3 btn btn-large btn-info" type="submit" name="user_name" value="<%= user.full_name %>">
    </form>
  <% end %>
</div>
