<% title "Log in" %>

<%= form_tag sessions_path, class: "form-stacked" do %>
  <fieldset>
    <legend>Login</legend>
  <div class="type-text">
    <%= label_tag :login, "Username or Email Address" %>
    <%= text_field_tag :login, params[:login] %>
  </div>
  <div class="type-text">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
</fieldset>
<div class="type-button"><%= submit_tag "Log in", class: "primary btn" %></div>
<% end %>
