<%= form_tag sessions_path, class: "form-signin" do %>
  <h2 class="form-signin-heading">Please sign in</h2>
  <%= text_field_tag :login, params[:login], class:"input-block-level", placeholder:"Username or email" %>
  <%= password_field_tag :password, nil, class:"input-block-level", placeholder:"Password" %>
  <%= submit_tag "Log in", class: "btn btn-large btn-primary" %>
<% end %>

<%= link_to forgot_password_path, class: "forgot-password-link" do %>
  <div class="alert alert-block">
    <h4>Trouble logging in?</h4>
    Follow this link to reset your password. It fixes most problems.
  </div>
<% end %>
