<div class="login">
<div class="well">
<%= form_tag sessions_path do %>
  <h2 class="form-signin-heading">Please sign in</h2>
  <div class="form-group">
  <%= text_field_tag :login, params[:login], class:"input-block-level form-control", placeholder:"Username or email" %>
  </div>
  <div class="form-group">
  <%= password_field_tag :password, nil, class:"form-control", placeholder:"Password" %>
  </div>
  <div class="form-group">
  <%= submit_tag "Log in", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
</div>
<%= link_to forgot_password_path, class: "forgot-password-link" do %>
  <div class="alert alert-warning">
    <h4>Trouble logging in?</h4>
    Follow this link to reset your password. It fixes most problems.
  </div>
<% end %>
</div>
