<div class="pull-right">
<%= link_to 'Edit', edit_spp_page_path(@spp_page), :class => "btn" %>
<%= link_to 'Back', spp_pages_path, :class => "btn" %>
</div>
<h1><%= @spp_page.title_en %></h1>

<p><em>  
  <%= format @spp_page.ingress_en %>
</em></p>
  <p>
  <%= format @spp_page.body_en %>
  </p>
