<h1>All contact logs</h1>
<div class="container-fluid contact-log">
<%=select_tag "years", options_for_select(@years.collect{ |u| [u.year, u.year] }, params[:year])%>
  <table class="table table-bordered sortable">
    <thead>
        <th class="span1">Etternavn</th>
        <th class="span1">Fornavn</th>
        <th class="span1">Stilling</th>
        <th class="span1">Status</th>
        <th class="span1"></th>
    </thead>
    <% for speaker in @indaba_speakers %>
    <tr>
      <td><%= speaker.lastname %></td>
      <td><%= speaker.firstname %></td>
      <td><%= speaker.profession %></td>
      <td class = <%= speaker.status_color_class%>><%= speaker.status_name %></td>
      <td width="100px">
        <%= link_to 'Show', speaker, class: "btn btn-info"%>   
      </td>
    </tr>
    <% end %>
  </table>
</div>

