<h1>Looking at <%= @indaba_speaker.firstname + " "  + @indaba_speaker.lastname%></h1>

<p>
  <b>Name:</b>
  <%= @indaba_speaker.firstname + " "  + @indaba_speaker.lastname %>
</p>
<p>
  <b>Status:</b>
  <%= @indaba_speaker.status_name%>
</p>

<p>
  <b>Year:</b>
  <%= @indaba_speaker.year %>
</p>


<p>
  <b>Profession:</b>
  <%= @indaba_speaker.profession %>
</p>

<p>
  <b>Psedonym:</b>
  <%= @indaba_speaker.pseudonym %>
</p>

<p>
  <b>Facts:</b>
  <%= @indaba_speaker.fakta %>
</p>

<p>
  <b>Invited to:</b>
  <%= @indaba_speaker.invitert_til %>
</p>

<p>
  <b>Contact person:</b>
  <%= @contact_person.given_name + " " + @contact_person.family_name %>
</p>

<p>
  <b>Resources:</b>
  <%= @indaba_speaker.resources %>
</p>
<p>
  <b>Contact information:</b>
  <%= @indaba_speaker.contactinfo %>
</p>
<p>
  <b>Comments:</b>
  <%= @indaba_speaker.comment %>
</p>