<div class="span3">
<%= form_for(@drive) do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :description %><br>
		<%= f.text_area(:description, :size => '50x10') %>
	</p>
</div>
	<div class="span2">
		<div id="date_time">
			<p>
				<strong>Klokken:</strong>
				<%= @drive.time_summary %>
				 <%= f.hidden_field :start_time %>
				<%= f.hidden_field :end_time %>
			</p>
			<p>
				<strong>Dato:</strong>
				<%= @drive.date_summary %>
			</p>
		</div>
		<p>
			<% drivers_array = @available_drivers.map { |driver|
				["#{driver.name} (#{driver.no_of_drives})", driver.id] } %>
			<strong>Sjåfør (Ant. kjøreoppdrag)</strong>
			<%= f.select(:driver_id, drivers_array, :required => true)  %>
		</p>
		<p>
			<% car_array = @available_cars.map {|car| [car.desc, car.id]} %>
			<strong>Bil</strong>
			<%= f.select(:car_id, car_array, :required => true) %>
		</p>
		<%= f.submit "Lagre" %>
	</div>
<% end %>