<%= render "nav" %>
<h2>Kjøreoppdrag #<%= @drive.id%></h2>
<h3><%= link_to(:"Endre", edit_drive_path(@drive)) %></h3>
<br>
<div class="row">
	<div class="col-md-3">
		<h4>Sjåfør</h4>
		<% if @drive.driver %>
			<%= link_to(@drive.driver_desc, driver_path(@drive.driver)) %><br>
		<% else %>
			No driver assigned
		<% end %>
		<h4>Bil</h4>
		<% if @drive.driver %>
			<%= @drive.car_desc %>
		<% else %>
			No car assigned
		<% end %>
	</div>
	<div class="col-md-3">
		<h3>Beskrivelse</h3>
		<%= simple_format(@drive.description) %>
	</div>
	<div class="col-md-3">
		<h3>Kommentar</h3>
		<%= simple_format(@drive.comment) %>
	</div>
</div>
<br>
