<%= simple_form_for(@layout_job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-horizontal">
    <div class="control-group">
      <%= f.label :user_id %>
      <div class="controls">
        <%= link_to @user.full_name, @user %>
      </div>
    </div>
    <%= f.input :user_info, input_html: {cols: 80, rows: 10} %>
    <%= f.input :work_title, input_html: { :class => "span8"} %>
    <%= f.input :deadline %>
    <%= f.input :web_or_print, as: :radio, label: "Publishing", collection: LayoutJobsPublishing.all.collect { |s| [s.publishing, s.id]} %>
    <%= f.input :format %>
    <%= f.input :description, input_html: {cols: 80, rows: 10} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
