<div class="pull-right">
  <%= link_to 'New Layout job', new_layout_job_path, :class => "btn btn-primary"%>
</div>
<h1>Jobs for Layout</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
              <th>User</th>
              <th>User info</th>
              <th>Work title</th>
              <th>Deadline</th>
              <th>Web or print</th>
              <th>Format</th>
              <th>Description</th>
            <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @layout_jobs.each do |layout_job| %>
    <tr>
              <td><%= layout_job.user_id %></td>
              <td><%= layout_job.user_info %></td>
              <td><%= layout_job.work_title %></td>
              <td><%= layout_job.deadline %></td>
              <td><%= layout_job.web_or_print %></td>
              <td><%= layout_job.format %></td>
              <td><%= layout_job.description %></td>
            <td><%= link_to 'Show', layout_job, :class => "btn-primary btn" %></td>
      <td><%= link_to 'Edit', edit_layout_job_path(layout_job), :class => "btn" %></td>
      <td><%= link_to 'Destroy', layout_job, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
    </tr>
    <% end %>
  </table>

