<div class="pull-right">
<%= link_to 'Edit', edit_layout_job_path(@layout_job), :class => "btn" %>
<%= link_to 'Back', layout_jobs_path, :class => "btn" %>
</div>
  <p>
  <b>User:</b>
  <%= @layout_job.user_id %>
  </p>

  <p>
  <b>User info:</b>
  <%= @layout_job.user_info %>
  </p>

  <p>
  <b>Work title:</b>
  <%= @layout_job.work_title %>
  </p>

  <p>
  <b>Deadline:</b>
  <%= @layout_job.deadline %>
  </p>

  <p>
  <b>Web or print:</b>
  <%= @layout_job.web_or_print %>
  </p>

  <p>
  <b>Format:</b>
  <%= @layout_job.format %>
  </p>

  <p>
  <b>Description:</b>
  <%= @layout_job.description %>
  </p>


