<h2>Uke <%= Date.today.cweek %></h2>

<h3>Hvem har flest riktige?</h3>
<ul style="list-style-type: decimal";>
  <% @highscorer.points_sorted_current_week.each do |userkey,value| %>
    <li>
      <%= link_to User.find(userkey).full_name, user_path(userkey) %> ->
      <%= value %>
    </li>
  <% end %>
</ul>

<h3>Hvilken bruker er best prosent-vis?</h3>
<ul style="list-style-type: decimal";>
  <% @highscorer.best_ratio_sorted_current_week.each do |result_obj| %>
    <% user = User.find(result_obj.user_id) %>
    <li>
      <%= link_to user.full_name, user_path(user) %> ->
      <%= number_to_percentage(result_obj.ratio * 100, precision: 2) %>
      in <%= result_obj.played_sum %> played
    </li>
  <% end %>
</ul>

<h3>Hvem husker ISFiT best?</h3>
<ul style="list-style-type: decimal";>
  <% @highscorer.best_known_users_of_current_week.each do |user| %>
    <li>
      <%= link_to user.full_name, user_path(user) %> ->
      <%= number_to_percentage(user.ratio * 100, precision: 2) %>
    </li>
  <% end %>
</ul>
