<h1>Listing presentations</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Markdown text</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @presentations.each do |presentation| %>
  <tr>
    <td><%= presentation.title %></td>
    <td><%= presentation.markdown_text %></td>
    <td><%= presentation.user %></td>
    <td><%= link_to 'Show', presentation %></td>
    <td><%= link_to 'Edit', edit_presentation_path(presentation) %></td>
    <td><%= link_to 'Destroy', presentation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Presentation', new_presentation_path %>
