<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @presentation.title %>
</p>

<p>
  <b>Markdown text:</b>
  <%= @presentation.markdown_text %>
</p>

<p>
  <b>User:</b>
  <%= @presentation.user %>
</p>


<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>
