<%= content_for :sidebar do %>
  <%= render 'shared/user_quest_widget' %>
<% end %>

<div class="articles">
    <%= link_to "Create article", new_article_path, class: "btn btn-primary" %>
    <% for article in @articles %>
      <div class="article">
        <div class="btn-group pull-right">
          <%= link_to :edit, edit_article_path(article), :class => "btn"%>
          <%= link_to :delete, article, confirm: "Are you sure?", method: :delete, :class => "btn btn-danger"  %>
        </div>
        <h1><%= link_to article.title, article %>
        </h1>
          <small>Created <%= time_ago_in_words(article.created_at) %> ago by <%= link_to article.user.full_name, article.user %>.</small>
        <%= image_tag article.article_image.url(:thumb), class: :right %> 
        <p>
          <%= format(truncate(article.body, length: 1000, omission: "...")) %>
          <%= article.body.length > 1000 ? (link_to("Read more...", article)):'' %>
        </p>
      </div>
  <% end %>
</div>
<%= will_paginate @articles %>
