<% content_for :sidebar do %>
  <div id="kvitter" class="well widget"></div>
<% end %>

<div class="well">
  <h3>Hva skjer i ISFiT nå?</h3>
  <% if current_user_can_see_applications? %>
  <h4>Opptak!</h4>
  <p>Følg med på <%= link_to "rekrutteringssiden", applicants_path %> for å se søkere strømme inn :)</p>
  <% end %>
  <h4>Apps!</h4>
  <p>Gå til <%= link_to "mail", "http://mail.isfit.no" %> eller <%= link_to "docs", "http://docs.isfit.no" %>.</p>

</div>

<div class="articles">
    <%= link_to t('articles.index.create'), new_article_path, class: "btn btn-primary" %>
    <%= link_to t('Abonnér på artikler'), subscription_path(Subscription.subscribe(:articles)), class: "btn btn-primary", method: :post %>
    <% for article in @articles %>
      <div class="article">
        <div class="btn-group pull-right">
          <% if article.attending %>
            <% if article.user_attending? current_user %>
              <%= link_to 'Not attend', not_attending_article_path(article), :class => "btn btn-primary", method: :post %>
            <% else %>
              <%= link_to 'Attend', attending_article_path(article), :class => "btn btn-primary", method: :post %>
            <% end %>
          <% end %>
          <%= link_to :edit, edit_article_path(article), :class => "btn" %>
          <%= link_to :delete, article, confirm: "Are you sure?", method: :delete, :class => "btn btn-danger"  %>

    

        </div>
        <h1><%= link_to article.title, article %>
        </h1>
          <small><%= "#{t('articles.index.created')} #{time_ago_in_words(article.created_at)} #{t('articles.index.ago')} " %><%= link_to article.user.full_name, article.user %>.</small>
        <%= image_tag article.article_image.url(:thumb), class: :right %> 
        <p>
          <%= format(truncate(article.body, length: 1000, omission: "...")) %>
          <%= article.body.length > 1000 ? (link_to("Read more...", article)):'' %>
        </p>
          <% if article.attending %>
            <small>
              <%= article.attending_count %> people are attending.
            </small>
          <% else %>
            <small>
              It is not possible to attend this article.
            </small>
          <% end %>

      </div>
  <% end %>
</div>
<%= will_paginate @articles %>
