<%= content_for :sidebar do %>
  <div class="well widget">
    <h4>Påmelding til avslutningsfeiring 8. Mars</h4>
    <ul class="nav nav-list">
      <li class="nav-header">Påmelding</li>
      <li class="">Påmeldingsfrist: 7. februar.</li>
      <li class="">Påmeldingen er bindende.</li>
      <li class=""><h4><a href="https://docs.google.com/spreadsheet/viewform?fromEmail=true&formkey=dEtNT3BVblZLSlFDb2NSQmdKNU5XcGc6MQ">Meld deg på!</a></h4></li>
      <li class="nav-header">Betaling</li>
      <li class="">Betal ved å overføre 200 kroner til kontonr. 4202.46.20705 innen 22.
   februar.</li>
      <li class="">Husk å merke betalingen med fult navn og gjeng.</li>

    </ul>
  </div>
<% end %>

  <div class="articles">
    <%= link_to "Create article", new_article_path, class: "btn btn-primary" %>
    <% for article in @articles %>
      <div class="article">
        <div class="btn-group pull-right">
          <%= link_to :edit, edit_article_path(article), :class => "btn"%>
          <%= link_to :delete, article, confirm: "Are you sure?", method: :delete, :class => "btn btn-danger"  %>
        </div>
        <h1><%= link_to article.title, article %>
        </h1>
          <small>Created <%= time_ago_in_words(article.created_at) %> ago by <%= link_to article.user.full_name, article.user %>.</small>
        <%= image_tag article.article_image.url(:thumb), class: :right %> 
        <p>
          <%= format(truncate(article.body, length: 1000, omission: "...")) %>
          <%= article.body.length > 1000 ? (link_to("Read more...", article)):'' %>
        </p>
      </div>
  <% end %>
</div>
<%= will_paginate @articles %>