<h1>Volunteer application</h1>
<p>Showing volunteer application details.</p>
<%= form_for @applicant do |f| %>
  <fieldset>
    <table>
     <tr>
        <td>Firstname</td>
        <td><%= f.text_field :firstname %></td>
      </tr>
      <tr>
        <td>Lastname</td>
        <td><%= f.text_field :lastname  %></td>
      </tr>

      <tr>
        <td>E-mail</td>
        <td><%= f.text_field :mail %></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><%= f.phone_field :phone %></td>
      </tr>
      <tr>
        <td>First choice</td>
        <td>
          <%= f.collection_select :position_id_1, Position.published.order("title_en ASC"), :id, :select_name, prompt: true %>
        </td>
      </tr>
      <tr>
        <td>Second choice</td>
        <td>
          <%= f.collection_select :position_id_2, Position.published.order("title_en ASC"), :id, :select_name, prompt: true %>
        </td>
 
      </tr>
      <tr>
        <td>Third choice</td>
        <td>
          <%= f.collection_select :position_id_3, Position.published.order("title_en ASC"), :id, :select_name, prompt: true %>
        </td>
 

      </tr>

      <tr valign="top">
        <td>Information about self</td>
        <td><%= f.text_area :information, class: "span10"  %></td>
      </tr>
      <tr valign="top">
        <td>Relevant experience</td>
        <td><%= f.text_area :background,  class: "span10" %></td>
      </tr>
      <tr>
        <td>Status</td>
        <td><%= f.select(:status, @status.invert) %></td>
      </tr>

      <tr>
        <td colspan="2">
          <em>First choice interview</em>
        </td>
      </tr>
      <tr>
        <td>Place</td>
        <td><%= f.text_field(:interview_place_1) %></td>
      </tr>
      <tr valign="top">
        <td>Time</td>
        <td><%= f.datetime_select(:interview_time_1) %></td>
      </tr>
      <tr>
        <td>Interviewers</td>
        <td>
          <%#= f.collection_select(:interviewer_id_1_1, @functionaries,   :id, :name_reversed) %>
        </td>	
      </tr>
      <tr>
        <td></td>
        <td>
          <%#= f.collection_select(:interviewer_id_1_2, @functionaries, :id, :name_reversed) %>
        </td>
      </tr>
      <% if @applicant.position_id_2 != -1 %>
        <tr>
          <td colspan="2">
            <em>Second choice interview</em>
          </td>
        </tr>
        <tr>
          <td>Place</td>
          <td><%= f.text_field(:interview_place_2) %></td>
        </tr>
        <tr valign="top">
          <td>Time</td>
          <td><%= f.datetime_select(:interview_time_2) %></td>
        </tr>
        <tr>
          <td>Interviewers</td>
          <td>
            <%#= f.collection_select(:interviewer_id_2_1, @functionaries, :id, :name_reversed) %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%#= f.collection_select(:interviewer_id_2_2, @functionaries, :id, :name_reversed) %>
          </td>
        </tr>
      <% end %>
      <% if @applicant.third_position %>
        <tr>
          <td colspan="2">
            <em>Third choice interview</em>
          </td>
        </tr>
        <tr>
          <td>Place</td>
          <td><%= f.text_field(:interview_place_3) %></td>
        </tr>
        <tr valign="top">
          <td>Time</td>
          <td><%= f.datetime_select(:interview_time_3) %></td>
        </tr>
        <tr>
          <td>Interviewers</td>
          <td>
            <%#= f.collection_select(:interviewer_id_3_1, @functionaries, :id, :name_reversed) %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%#= f.collection_select(:interviewer_id_3_2, @functionaries, :id, :name_reversed) %>
          </td>
        </tr>
      <%end%>
      <tr>
        <td>Delete</td>
        <td>
          <%= f.check_box(:deleted) %>
        </td>
      </tr>
    </table>
  </fieldset>
  <%= f.submit class: "primary btn" %>
<% end %>
