<p>Showing volunteer application details.</p>
<%= form_for @applicant do |f| %>
<% if @applicant.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

    <ul>
    <% @applicant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <fieldset>
    <table class="table table-bordered">
     <tr>
        <td>Locked</td>
        <td><%= f.check_box :locked %></td>
      </tr>
     <tr>
        <td>Firstname</td>
        <td><%= f.text_field :firstname %></td>
      </tr>
      <tr>
        <td>Lastname</td>
        <td><%= f.text_field :lastname  %></td>
      </tr>
      <tr>
        <td>Birthyear</td>
        <td><%= f.text_field :birthyear %></td>
      </tr>
      <tr>
        <td>E-mail</td>
        <td><%= f.text_field :mail %></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><%= f.phone_field :phone %></td>
      </tr>
      <tr>
        <td>Place of study</td>
        <td><%= f.text_field :place_of_study %></td>
      </tr>
      <tr>
        <td>First choice</td>
        <td>
          <%= f.collection_select :position_id_1, @positions.order("title_en ASC"), :id, :select_name, prompt: true %>
        </td>
      </tr>
      <tr>
        <td>Second choice</td>
        <td>
          <%= f.collection_select :position_id_2, @positions.order("title_en ASC"), :id, :select_name, prompt: true %>
        </td>

      </tr>
      <tr>
        <td>Third choice</td>
        <td>
          <%= f.collection_select :position_id_3, @positions.order("title_en ASC"), :id, :select_name, prompt: true %>
        </td>


      </tr>

      <tr valign="top">
        <td>Information about self</td>
        <td><%= f.text_area :information, class: "col-md-5" %></td>
      </tr>
      <tr valign="top">
        <td>Relevant experience</td>
        <td><%= f.text_area :background , class: "col-md-5"  %></td>
      </tr>
      <tr valign="top">
        <td>Motivation</td>
        <td><%= f.text_area :heardof , class: "col-md-5"  %></td>
      </tr>
      <tr>
        <td>Status</td>
        <td><%= f.select(:status, @status.invert) %></td>
      </tr>
      <tr>
        <td>Recruited postion</td>
        <td><%= f.collection_select :recruited_position_id, @positions.order("title_en ASC"), :id, :select_name,  :include_blank => true %></td>
      </tr>
      <tr>
        <td>Comment</td>
        <td><%= f.text_area :comment, class: "col-md-5" %></td>
      </tr>

      <tr>
        <td colspan="2">
          <em>First choice interview</em>
        </td>
      </tr>
      <tr>
        <td>Place</td>
        <td><%= f.text_field(:interview_place_1) %></td>
      </tr>
      <tr valign="top">
        <td>Time</td>
        <td><%= f.text_field :interview_time_1, placeholder: "YYYY-MM-DD HH:MM" %></td>
      </tr>
      <tr>
        <td>Interviewers</td>
        <td>
          <%= f.collection_select(:interviewer_id_1_1, @interviewers,   :id, :name_reversed, prompt: true) %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= f.collection_select(:interviewer_id_1_2, @interviewers, :id, :name_reversed, prompt: true) %>
        </td>
      </tr>
      <% if @applicant.position_id_2 != -1 %>
        <tr>
          <td colspan="2">
            <em>Second choice interview</em>
          </td>
        </tr>
        <tr>
          <td>Place</td>
          <td><%= f.text_field(:interview_place_2) %></td>
        </tr>
        <tr valign="top">
          <td>Time</td>
          <td><%= f.text_field :interview_time_2 , placeholder: "YYYY-MM-DD HH:MM"%></td>
        </tr>
        <tr>
          <td>Interviewers</td>
          <td>
            <%= f.collection_select(:interviewer_id_2_1, @interviewers, :id, :name_reversed, prompt: true) %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.collection_select(:interviewer_id_2_2, @interviewers, :id, :name_reversed, prompt: true) %>
          </td>
        </tr>
      <% end %>
      <% if @applicant.third_position %>
        <tr>
          <td colspan="2">
            <em>Third choice interview</em>
          </td>
        </tr>
        <tr>
          <td>Place</td>
          <td><%= f.text_field(:interview_place_3) %></td>
        </tr>
        <tr valign="top">
          <td>Time</td>
          <td><%= f.text_field :interview_time_3 , placeholder: "YYYY-MM-DD HH:MM"%></td>
        </tr>
        <tr>
          <td>Interviewers</td>
          <td>
            <%= f.collection_select(:interviewer_id_3_1, @interviewers, :id, :name_reversed, prompt: true) %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.collection_select(:interviewer_id_3_2, @interviewers, :id, :name_reversed, prompt: true) %>
          </td>
        </tr>
      <%end%>
      <tr>
        <td>Delete</td>
        <td>
          <%= f.check_box(:deleted) %>
        </td>
      </tr>
    </table>
  </fieldset>
  <%= f.submit class: "btn-primary" %>
<% end %>
