<h1>Volunteer application</h1>
<p>Showing volunteer application details.</p>
<% form_for :applicant do |f| %>
<table>
	<tr>
		<td width="150"><b>ID</b></td>
		<td><%= @applicant.id %></td>
	</tr>
	<tr>
		<td><b>Name</b></td>
		<td><%= @applicant.lastname + ', ' + @applicant.firstname %></td>
	</tr>
	<tr>
		<td><b>E-mail</b></td>
		<td><%= @applicant.mail %></td>
	</tr>
	<tr>
		<td><b>Phone</b></td>
		<td><%= @applicant.phone %></td>
        </tr>
        <tr>
		<td><b>First choice</b></td>
                <td><%= f.select 'position_id_1', @positions.to_select_position, :selected => ( @applicant.first_position == nil ? 0 : @applicant.first_position.id) %></td>
	</tr>
	<tr>
		<td><b>Second choice</b></td>
	
                <td><%= f.select 'position_id_2', @positions.to_select_position, :selected => @applicant.second_position == nil ? -1 : @applicant.second_position.id %></td>
</tr>
	<tr>
		<td><b>Third choice</b></td>

                <td><%= f.select 'position_id_3', @positions.to_select_position, :selected => @applicant.third_position == nil ? -1 : @applicant.third_position.id %></td>

	</tr>

		<tr valign="top">
		<td><b>Information about self</b></td>
		<td><%=raw add_br_newline(@applicant.information) %></td>
	</tr>
	<tr valign="top">
		<td><b>Relevant experience</b></td>
		<td><%=raw add_br_newline(@applicant.background) %></td>
	</tr>
	<tr>
		<td><b>Status</b></td>
		<td><%= f.select(:status, @status.invert) %></td>
	</tr>
  <tr>
		<td><b>Comment</b></td>
		<td><%= f.text_area(:comment, :size => "40x2") %></td>
	</tr>

	<tr>
		<td colspan="2">
			<em>First choice interview</em>
		</td>
	</tr>
	<tr>
		<td><b>Place</b></td>
		<td><%= f.text_field(:interview_place_1) %></td>
	</tr>
	<tr valign="top">
		<td><b>Time</b></td>
		<td><%= f.datetime_select(:interview_time_1) %></td>
	</tr>
	<tr>
		<td><b>Interviewers</b></td>
		<td>
		<%= f.collection_select(:interviewer_id_1_1, @functionaries,   :id, :name_reversed) %>
		</td>	
	</tr>
	<tr>
		<td></td>
		<td>
			<%= f.collection_select(:interviewer_id_1_2, @functionaries, :id, :name_reversed) %>
		</td>
	</tr>
<% if @applicant.position_id_2 != -1 %>
	<tr>
		<td colspan="2">
			<em>Second choice interview</em>
		</td>
	</tr>
	<tr>
		<td><b>Place</b></td>
		<td><%= f.text_field(:interview_place_2) %></td>
	</tr>
	<tr valign="top">
		<td><b>Time</b></td>
		<td><%= f.datetime_select(:interview_time_2) %></td>
	</tr>
	<tr>
		<td><b>Interviewers</b></td>
		<td>
			<%= f.collection_select(:interviewer_id_2_1, @functionaries, 
				:id, :name_reversed) %>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<%= f.collection_select(:interviewer_id_2_2, @functionaries, :id, 
				:name_reversed) %>
		</td>
	</tr>
<% end %>
<% if @applicant.third_position %>
	<tr>
		<td colspan="2">
			<em>Third choice interview</em>
		</td>
	</tr>
	<tr>
		<td><b>Place</b></td>
		<td><%= f.text_field(:interview_place_3) %></td>
	</tr>
	<tr valign="top">
		<td><b>Time</b></td>
		<td><%= f.datetime_select(:interview_time_3) %></td>
	</tr>
	<tr>
		<td><b>Interviewers</b></td>
		<td>
			<%= f.collection_select(:interviewer_id_3_1, @functionaries, 
				:id, :name_reversed) %>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<%= f.collection_select(:interviewer_id_3_2, @functionaries, :id, 
				:name_reversed) %>
		</td>
	</tr>
<%end%>
	<tr>
		<td><b>Delete</b></td>
		<td>
			<%= f.check_box(:deleted) %>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><br /><%= f.submit %></td>
	</tr>
</table>
<% end %>
<p>Return to <%= link_to('application list', :action => 'browse') %>.</p>
