<h1>Browse volunteers</h1>
<p>Below is the list of volunteer applications registered.</p>
<%= link_to "Create applicant", new_applicant_path, class: "btn btn-primary" %>
<table class="table table-striped sortable">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3">Position choices</th>
      <th></th>
      <th colspan="3">Position choices interview times</th>
    </tr>
    <tr>
      <th class="header"></th>
      <th class="header"><%= "Last name" %></th>
      <th class="header"><%= "First name" %></th>
      <th class="header"><%= "First choice"%></th>
      <th class="header"><%= "Second"%></th>
      <th class="header"><%= "Third"%></th>
      <th class="header"><%= "Status"%></th>
      <th class="header"><%= "First interview"%></th>
      <th class="header"><%= "Second"%></th>
      <th class="header"><%= "Thirds"%></th>
      <th class="header"><%= "Created at"%></th>
    </tr>
  </thead>
  <tbody>
  <% @applicants.each do |applicant| %>
    <tr>
      <td width="100px">
        <div class="btn-group btn-group-sm">
          <%= link_to "Show", applicant, class: "btn btn-info" %>
         
            <button  type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit", edit_applicant_path(applicant) %></li>
          </ul>
        </div>
      </td>
      <td>
        <%= raw "<i class=\"icon-lock\"></i> " if applicant.locked %>
        <%= applicant.lastname %>
      </td>
      <td><%= applicant.firstname %></td>
      <td><%= applicant.first_position.title_no %></td>
      <td><%= applicant.second_position ? 
        applicant.second_position.title_no: '-' %></td>
      <td><%= applicant.third_position ? 
        applicant.third_position.title_no : '-' %></td>
      <td><%= @status[applicant.status] %></td>
      <td><%= (applicant.interview_place_1 != '' and applicant.interview_time_1) ? applicant.interview_time_1.strftime("%d.%m %H:%M") : '-' %></td>
      <td><%= (applicant.interview_place_2 != '' and applicant.interview_time_2) ? applicant.interview_time_2.strftime("%d.%m %H:%M") : '-' %></td>
      <td><%= (applicant.interview_place_3 != '' and applicant.interview_time_3) ? applicant.interview_time_3.strftime("%d.%m %H:%M") : '-' %></td>
      <td><%= applicant.created_at.strftime("%Y-%m-%d %H:%M:%S") %> </td>
    </tr>
  <% end %>
</tbody>
</table>

<%#= will_paginate @applicants %>