<h1>Interviews</h1>
<p>Below is a list of all your interviews.</p>
<table class="table table-striped sortable">
  <thead>
    <tr>
      <th>Applicant</th>
      <th>Position</th>
      <th>Place</th>
      <th>Time</th>
      <th>Co-interviewer</th>
    </tr>
  </thead>
  <tbody>
    <% @applicants_1.each do |applicant| %>
      <tr>
        <td><%= link_to applicant.lastname + ", " + applicant.firstname, edit_applicant_path(applicant) %></td>
        <td><%= "#{applicant.first_position.title_no}" %></td>
        <td><%= applicant.interview_place_1 %></td>
        <td><%= applicant.interview_time_1 %></td>
        <td><%= link_to User.find(applicant.interviewer_id_1_2).full_name, user_path(applicant.interviewer_id_1_2) %></td>
      </tr>
    <% end %>
    <% @applicants_2.each do |applicant| %>
      <tr>
        <td><%= link_to applicant.lastname + ", " + applicant.firstname, edit_applicant_path(applicant) %></td>
        <td><%= "#{applicant.second_position.title_no unless applicant.second_position.nil?}" %></td>
        <td><%= applicant.interview_place_2 %></td>
        <td><%= applicant.interview_time_2 %></td>
        <td><%= link_to User.find(applicant.interviewer_id_2_2).full_name, user_path(applicant.interviewer_id_2_2) %></td>
      </tr>
    <% end %>
    <% @applicants_3.each do |applicant| %>
      <tr>
        <td><%= link_to applicant.lastname + ", " + applicant.firstname, edit_applicant_path(applicant) %></td>
        <td><%= "#{applicant.third_position.title_no unless applicant.third_position.nil?}" %></td>
        <td><%= applicant.interview_place_3 %></td>
        <td><%= applicant.interview_time_3 %></td>
        <td><%= link_to User.find(applicant.interviewer_id_3_2).full_name, user_path(applicant.interviewer_id_3_2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
