<h1>Volunteer application</h1>
<div class="pull-right">
  <%= link_to "Edit", edit_applicant_path, class: "btn btn-primary" %>
</div>
<p>Showing volunteer application details.</p>
<h1><%= @applicant.lastname + ', ' + @applicant.firstname %></h1>
<table>
	<tr>
		<td width="150"><b>ID</b></td>
		<td><%= @applicant.id %></td>
	</tr>
	<tr>
		<td><b>E-mail</b></td>
		<td><%= @applicant.mail %></td>
	</tr>
	<tr>
		<td><b>Phone</b></td>
		<td><%= @applicant.phone %></td>
	</tr>
	<tr>
		<td><b>First choice</b></td>
		<td><%= @applicant.first_position.title_no %></td>
	</tr>
	<tr>
		<td><b>Second choice</b></td>
		<td><%= @applicant.second_position ? 
			@applicant.second_position.title_no : '-' %></td>
	</tr>
	<tr>
		<td><b>Third choice</b></td>
		<td><%= @applicant.third_position ? 
			@applicant.third_position.title_no : '-' %></td>
  </tr>
	<tr>
		<td><b>Status</b></td>
		<td><%= @status[@applicant.status] %></td>
	</tr>
  <tr>
    <td colspan="2">
		<h3>Information about self</h3>
    <%= format(@applicant.information) %>
  </td>
	</tr>
	<tr>
    <td colspan="2">
      <h3>Relevant experience</h3>
      <%= format(@applicant.background) %>
    </td>
	</tr>
	<tr>
		<td colspan="2" style="border-bottom: 1px solid #ccc"></td>
	</tr>

</table>
<p>Return to <%= link_to('application list', applicants_path) %>.</p>
