<h1>Volunteer application</h1>
<p>Showing volunteer application details.</p>
<table>
	<tr>
		<td width="150"><b>ID</b></td>
		<td><%= @applicant.id %></td>
	</tr>
	<tr>
		<td><b>Name</b></td>
		<td><%= @applicant.lastname + ', ' + @applicant.firstname %></td>
	</tr>
	<tr>
		<td><b>E-mail</b></td>
		<td><%= @applicant.mail %></td>
	</tr>
	<tr>
		<td><b>Phone</b></td>
		<td><%= @applicant.phone %></td>
	</tr>
	<tr>
		<td><b>First choice</b></td>
		<td><%= @applicant.first_position.title_no %></td>
	</tr>
	<tr>
		<td><b>Second choice</b></td>
		<td><%= @applicant.second_position ? 
			@applicant.second_position.title_no : '-' %></td>
	</tr>
	<tr>
		<td><b>Third choice</b></td>
		<td><%= @applicant.third_position ? 
			@applicant.third_position.title_no : '-' %></td>
	</tr>
	<tr valign="top">
		<td><b>Information about self</b></td>
		<td><%= format(@applicant.information) %></td>
	</tr>
	<tr valign="top">
		<td><b>Relevant experience</b></td>
		<td><%= format(@applicant.background) %></td>
	</tr>
	<tr>
		<td colspan="2" style="border-bottom: 1px solid #ccc"></td>
	</tr>
	<tr>
		<td><b>Status</b></td>
		<td><%= @status[@applicant.status] %></td>
	</tr>
	<% if @applicant.interview_place_1 != '' %>
		<tr>
			<td colspan="2"><em>First choice interview</em></td>
		</tr>
		<tr>
			<td><b>Place</b></td>
			<td><%= @applicant.interview_place_1 %></td>
		</tr>
		<tr>
			<td><b>Time</b></td>
			<td><%= @applicant.interview_time_1.strftime("%d.%m %H:%M") %></td>
		</tr>
		<tr valign="top">
			<td><b>Interviewers</b></td>
			<td><%= LdapUser.get_by_id(@applicant.interviewer_id_1_1).name %>
				<br />
			<%= LdapUser.get_by_id(@applicant.interviewer_id_1_2).name %></td>
		</tr>
	<% end %>
	<% if @applicant.interview_place_2 != '' %>
		<tr>
			<td colspan="2"><em>Second choice interview</em></td>
		</tr>
		<tr>
			<td><b>Place</b></td>
			<td><%= @applicant.interview_place_2 %></td>
		</tr>
		<tr>
			<td><b>Time</b></td>
			<td><%= @applicant.interview_time_2.strftime("%d.%m %H:%M") %></td>
		</tr>
		<tr valign="top">
			<td><b>Interviewers</b></td>
			<td><%= LdapUser.get_by_id(@applicant.interviewer_id_2_1).name %>
				<br />
			<%= LdapUser.get_by_id(@applicant.interviewer_id_2_2).name %></td>
		</tr>
	<% end %>
	<% if @applicant.interview_place_3 != '' %>
		<tr>
			<td colspan="2"><em>Third choice interview</em></td>
		</tr>
		<tr>
			<td><b>Place</b></td>
			<td><%= @applicant.interview_place_3 %></td>
		</tr>
		<tr>
			<td><b>Time</b></td>
			<td><%= @applicant.interview_time_3.strftime("%d.%m %H:%M") %></td>
		</tr>
		<tr valign="top">
			<td><b>Interviewers</b></td>
			<td><%= LdapUser.get_by_id(@applicant.interviewer_id_3_1).name %>
				<br />
			<%= LdapUser.get_by_id(@applicant.interviewer_id_3_2).name %></td>
		</tr>
	<% end %>
</table>
<p>Return to <%= link_to('application list', :action => 'browse') %>.</p>
