<h1>Statistics for all positions</h1>
<h4>ISFiT har nå <%=@applicants.size%> søkere.</h4>
<h3>Følgende stillinger har ingen søkere på 1. 2. eller 3. valg:</h3>
<table class="table table-striped table-bordered">
  <tr>
    <thead>
    <th class="header">Stilling</th>
    <th class="header">Gjeng</th>
    <th class="header">Seksjon</th>
  </thead>
  </tr>
  <%@no_apply.each do |p|%>
    <tr>
      <td><%=p.title_en%></td>
      <td><%=p.groups.first.name_en unless p.groups.first.nil?%></td>
      <td><%=p.groups.first.section.name_en unless (p.groups.first.nil? || p.groups.first.section.nil?) %></td>
    </tr>
  <%end%>
</table>

<h3>Number of first choice / number of positions</h3>
<table class="sortable table table-striped table-bordered">
  <thead>
  <tr>
    <th>Position</th>
    <th>Score</th>
    <th>Number of positions</th>
  </tr>
</thead>
  <%@simple_stat.each do |key,value|%>
    <tr>
      <td><%=key.title_en%></td>
      <td><%="%.2f" % value%></td>
      <td><%=key.number%></td>
    </tr>
  <%end%>
</table>
<br />
<br />
<h3>position 1 weight 5, position 2 weight 3, position 1 weight 1</h3>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Position</th>
    <th>Score</th>
  </tr>
</thead>
  <%@stat.each do |key,value|%>
    <tr>
      <td><%=key%></td>
      <td><%="%.3f" % value%></td>
    </tr>
  <%end%>
</table>
