<%= formatting %>
<div class="tabbable">
  <ul class="nav nav-tabs" data-toggle="tabs">
    <li class="active"><a data-toggle="tab" href="#options" >Options</a></li>
    <li class><a data-toggle="tab" href="#english">English</a></li>
    <li class><a data-toggle="tab" href="#norwegian">Norwegian</a></li>
  </ul>

  <%= form_for(@isfit_page, html: {class: "form-stacked"} ) do |f| %>
    <% if @isfit_page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@isfit_page.errors.count, "error") %> prohibited this isfit_page from being saved:</h2>

        <ul>
          <% @isfit_page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="tab-content">
      <div class="tab-pane active" id="options">
        <div class="field">
          <%= f.label :tag %>
          <%= f.text_field :tag %>
        </div>
        <div class="field">
          <%= f.label :deleted %>
          <%= f.check_box :deleted %>
        </div>
        <div class="field">
          <%= f.label :tab_id %>
          <%= f.collection_select :tab_id, @isfit_tabs, :id, :name_no, include_blank: true %>
        </div>
      </div>
      <div class="tab-pane" id="english">
        <div class="field">
          <%= f.label :title_en %>
          <%= f.text_field :title_en , class: "col-md-9"%>
        </div>
        <div class="field">
          <%= f.label :ingress_en %>
          <%= f.text_area :ingress_en, class: "col-md-9", rows: 3 %>
        </div>
        <div class="field">
          <%= f.label :body_en %>
          <%= f.text_area :body_en, class: "col-md-9" %>
        </div>

      </div>
      <div class="tab-pane" id="norwegian">
        <div class="field">
          <%= f.label :title_no %>
          <%= f.text_field :title_no, class: "col-md-9" %>
        </div>
        <div class="field">
          <%= f.label :ingress_no %>
          <%= f.text_area :ingress_no, class: "col-md-9", rows: 3 %>
        </div>
        <div class="field">
          <%= f.label :body_no %>
          <%= f.text_area :body_no, class: "col-md-9" %>
        </div>

      </div>
    </div>

    <div class="actions">
      <%= f.submit class: "btn-primary btn" %>
    </div>
  <% end %>
</div>
