<h1>Pages on isfit.org</h1>
<p>Below is a list of articles currently stored for isfit.org.</p>

<p><%= link_to 'New Isfit page', new_isfit_page_path, class: "btn-primary btn" %></p>
<table class="table table-bordered table-striped sortable">
  <thead>
  <tr>
    <th>English title</th>
    <th>Norwegian title</th>
    <th>Tab</th>
    <th>Action</th>
  </tr>
</thead>

<% @isfit_pages.each do |isfit_page| %>
  <tr>
    <td><%= isfit_page.title_en %></td>
    <td><%= isfit_page.title_no %></td>
    <td><%= tab_name isfit_page.tab_id %>
    <td width="75px">
      <div class="btn-group">
    <%= link_to 'Edit', edit_isfit_page_path(isfit_page), class: "btn btn-info" %>
    <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Show', isfit_page %></li>
      <li><%= link_to 'Destroy', isfit_page, confirm: 'Are you sure?', method: :delete%></li>
    </ul>
  </div>
  </td>
  </tr>
<% end %>
</table>

<br />

