<%= formatting %>
<div class="well">
  <button class="article btn btn-primary" data-page="images">Image</button>
  <button class="article btn" data-page="misc">Misc</button>
  <button class="article btn" data-page="english">English</button>
  <button class="article btn" data-page="norsk">Norwegian</button>
  <button class="article btn" data-page="preview">Preview</button>
</div>

<div id="images" class="hidable">
<div id="frontend_fileupload">
  <%= form_tag photo_frontend_articles_path , class: "file_upload" do %>
    Drag file here
  <% end %>

  <div class="fileupload-content">
    <table class="files"></table>
    <div class="fileupload-progressbar"></div>
  </div>
</div>
  <div id="img1"></div>
  <div id="img2"></div>
  <div id="img3"></div>
</div>
<%= form_for(@article, html: {class: "form-stacked"}) do |f| %>
<% if f.error_messages %>  
    <div class="alert-message block-message error" data-alert="true">
      <a href="#" class="close">x</a>
      <%= f.error_messages %>
    </div>
  <% end %>
  <% for attribute in [:x1, :y1, :x2, :y2, :y1_1, :x2_1, :y2_1, :x1_1, :x1_2, :y1_2, :x2_2, :y2_2] %>
    <%= f.hidden_field attribute, id: attribute %>
  <% end %>

  <div id="misc" class="hidable">
  <fieldset>
    <legend><%= t('common.common') %></legend>
      <div class="field">
      <%= f.label :show_article %> 
      <%= f.text_field :show_article, class: :datetimepicker %>
    </div>
    <hr>
    <div class="field">
      <%= f.label :list %>
      <%= f.check_box :list %>
    </div>
    <hr>
    <div class="field">
      <%= f.label :blog, "Is it a blogpost?" %>
      <%= f.check_box :blog %>
    </div>
    <hr>
    <div class="field">
      <%= f.label :got_comments %>
      <%= f.check_box :got_comments %>
    </div>
    <hr>
    <div class="field">
      <%= f.label :byline_user_id %>
      <%= f.collection_select :byline_user_id, @users, :id, :full_name_reversed %>
    </div>
    <hr>
    <div class="field">
      <%= f.label :image_credits %>
      <%= f.text_field :image_credits %>
    </div>
    <hr>
    <div class="field">
      <%= f.label :sidebar %>
      <%= f.text_area :sidebar %>
    </div>
    <%= f.hidden_field :photo_id %>
 </fieldset>
 </div>
 <div id="english" class="hidable">
  <fieldset>
    <legend>English</legend>
    <div class="field">
      <%= f.label :title_en %>
      <%= f.text_field :title_en, class: "span8" %>
    </div>
    <div class="field">
      <%= f.label :ingress_en %>
      <%= f.text_area :ingress_en, class: "small span8"  %>
    </div>
     <div class="field">
      <%= f.label :sub_title_en %>
      <%= f.text_area :sub_title_en, class: "small span8"  %>
    </div>

    <div class="field">
      <%= f.label :body_en %>
      <%= f.text_area :body_en , class: "span8" %>
    </div>
  </fieldset>
  </div>
  <div id="norsk" class="hidable">
  <fieldset>
    <legend>Norsk</legend>
    <div class="field">
      <%= f.label :title_no %>
      <%= f.text_field :title_no, class: "span8" %>
    </div>
    <div class="field">
      <%= f.label :ingress_no %>
      <%= f.text_area :ingress_no, class: "small span8" %>
    </div>
     <div class="field">
      <%= f.label :sub_title_no %>
      <%= f.text_area :sub_title_no, class: "small span8"  %>
    </div>
    <div class="field">
      <%= f.label :body_no %>
      <%= f.text_area :body_no, class: "span8" %>
    </div>  
  </fieldset>
  </div>
  <div class="hidable" id="preview">
  Coming soon...
  </div>
  <div class="actions">
    <%= f.submit class: "btn-primary btn" %>
  </div>
<% end %>

