<%= form_for(@article, html: {class: "form-stacked"}) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend><%= t('common.common') %></legend>
    <div class="field">
      <%= f.label :list %>
      <%= f.check_box :list %>
    </div>
    <div class="field">
      <%= f.label :published %>
      <%= f.check_box :published %>
    </div>
    <div class="field">
      <%= f.label :main_article %>
      <%= f.check_box :main_article %>
    </div>
    <div class="field">
      <%= f.label :got_comments %>
      <%= f.check_box :got_comments %>
    </div>
 </fieldset>
  <fieldset>
    <legend>English</legend>
    <div class="field">
      <%= f.label :title_en %>
      <%= f.text_field :title_en, class: "span12" %>
    </div>
    <div class="field">
      <%= f.label :sub_title_en %>
      <%= f.text_field :sub_title_en, class: "span12" %>
    </div>
    <div class="field">
      <%= f.label :ingress_en %>
      <%= f.text_area :ingress_en, class: "small span12"  %>
    </div>
    <div class="field">
      <%= f.label :body_en %>
      <%= f.text_area :body_en , class: "span12" %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Norsk</legend>
    <div class="field">
      <%= f.label :title_no %>
      <%= f.text_field :title_no, class: "span12" %>
    </div>
    <div class="field">
      <%= f.label :sub_title_no %>
      <%= f.text_field :sub_title_no, class: "span12" %>
    </div>
    <div class="field">
      <%= f.label :ingress_no %>
      <%= f.text_area :ingress_no, class: "small span12" %>
    </div>
    <div class="field">
      <%= f.label :body_no %>
      <%= f.text_area :body_no, class: "span12" %>
    </div>  
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
