<style>
	.leftline {
		padding-left: 10px;
		margin-left: 2px;
		border-left: 4px solid #ccc;
	}
</style>
<h1><%= params[:id] ? "Edit" : "Create new" %> article</h1>

	<% form_for :article, @article, :html=> { :multipart => true },
		:url => { :action => "create", 
		:id => params[:id]  } do |f|
	%>

<p><%= params[:id] ? "Edit information and press Save article to update the article." : "Enter article meta and content information and press Save article to create the new article."  %></p>

<h2>Meta</h2>
<table class="leftline">
	<tr>
		<td>Article is visible on isfit.org:</td>
		<td><%= f.check_box "list"%></td>
	</tr>
	<tr>
		<td valign="top">Article priority:</td>
		<td><%= params[:id] ? select(:article, :weight, $weights , :selected => @article.weight) : select(:article, :weight, $weights, :selected => 1) %></td>
	</tr>
	<tr>
		<td>Article is a press release:</td>
		<td><%= f.check_box "press_release"%></td>
	</tr>
    <tr>
    <td>Show facebook comments:</td>
    <td><%= f.check_box "got_comments"%></td>
    </tr>
</table>
<p><%= f.submit "Save article" %></p>

<h2>Content</h2>
<h3>Norwegian version</h3>
<div class="leftline">
<p><b>Title:</b><br />
<%= f.text_field :title_no, :style => "width: 750px" %>
</p>
<p><b>Subtitle:</b><br />
<%= f.text_field :sub_title_no, :style => "width: 750px" %>
</p>
<p><b>Ingress:</b><br />
<%= f.text_area :ingress_no, :rows => 5, :style => "width: 750px" %>
</p>
<p><b>Body:</b><br />
<%= f.text_area :body_no, :rows => 15, :style => "width: 750px" %>
</p>
</div>

<h3>English version</h3>
<div class="leftline">
<p><b>Title:</b><br />
<%= f.text_field :title_en, :style => "width: 750px" %>
</p>
<p><b>Subtitle:</b><br />
<%= f.text_field :sub_title_en, :style => "width: 750px" %>
</p>
<p><b>Ingress:</b><br />
<%= f.text_area :ingress_en, :rows => 5, :style => "width: 750px" %>
</p>
<p><b>Body:</b><br />
<%= f.text_area :body_en, :rows => 15, :style => "width: 750px" %>
</p>
</div>

<h3>Picture</h3>
<div class="leftline">
<%#= clever_image_tag "frontend_article_images/#{@article.id}.jpg",
	:style => "margin-bottom: 20px; display: block" %>
Upload new picture:
<div><%= file_field_tag "image" %></div>
<p><b>Image text (en):</b><br />
<%= f.text_field :image_text_en, :style => "width: 750px" %>
<p><b>Image text (no):</b><br />
<%= f.text_field :image_text_no, :style => "width: 750px" %>
</p>
</p>

</div>

<p><%= f.submit "Save article" %></p>
<% end %>
<h3>Formatting</h3>
<p>This section describes the formatting options available in article body contents.</p>
<table class="leftline">
	<tr>
		<td width="100"><b>Type</b></td>
		<td width="200"><b>Usage</b></td>
		<td><b>Example</b></td>
	</tr>
	<tr valign="top">
		<td>Heading</td>
		<td>
			### Heading,<br /> #### Sub heading
		</td>
		<td>
			<h3 style="margin:0;padding:0">Heading</h3>
			<h4 style="margin:0;padding:0">Sub heading</h4>
		</td>
	</tr>
	<tr valign="top">
		<td>Emphasis</td>
		<td>
			*emphasized text* or<br />_emphasized text_
			<br />and<br />
			**emphasized text** or<br />__emphasized text__
		</td>
		<td>
			<em>emphasized text</em>
			<br /><br /><br />
			<strong>emphasized text</strong>
		</td>
	</tr>
	<tr valign="top"> 
		<td>Unordered list</td>
		<td> - Candy<br /> - Gum<br /> - Booze</td>
		<td>
			<ul>
				<li>Candy</li>
				<li>Gum</li>
				<li>Booze</li>
			</ul>
		</td>
	</tr>
	<tr valign="top">
		<td>Ordered list</td>
		<td> 1. Candy<br /> 2. Gum<br /> 3. Booze</td>
		<td>
			<ol>
				<li>Candy</li>
				<li>Gum</li>
				<li>Booze</li>
			</ol>
		</td>
	</tr>
	<tr>
		<td>Link</td>
		<td>[NTNU](http://www.ntnu.no)</td>
		<td><a href="http://www.ntnu.no">NTNU</a></td>
	</tr>
</table>
