<%= formatting %>
<div class="well">
  <button class="article btn btn-primary" data-page="images">Image</button>
  <button class="article btn" data-page="misc">Misc</button>
  <button class="article btn" data-page="english">English</button>
  <button class="article btn" data-page="norsk">Norwegian</button>
  <button class="article btn" data-page="preview">Preview</button>
</div>

<div id="images" class="hidable">
<div id="frontend_fileupload">
  <%= form_tag photo_editorial_frontend_articles_path , class: "file_upload" do %>
    Drag file here
  <% end %>

  <div class="fileupload-content">
    <table class="files"></table>
    <div class="fileupload-progressbar"></div>
  </div>
</div>
  <div id="img1"></div>
  <div id="img2"></div>
  <div id="img3"></div>
</div>
<%= simple_form_for([:editorial,@article], wrapper: :horizontal_form, :html => {:class => 'form-horizontal' }) do |f| %>
  <% for attribute in [:x1, :y1, :x2, :y2, :y1_1, :x2_1, :y2_1, :x1_1, :x1_2, :y1_2, :x2_2, :y2_2] %>
    <%= f.hidden_field attribute, id: attribute %>
  <% end %>

  <div id="misc" class="hidable">
  <fieldset>
    <legend><%= t('common.common') %></legend>
      <%= f.input :show_article, :as => :datetime_picker %>
      <%= f.input :list %>
      <%= f.input :blog, label: "Is it a blogpost?" %>
      <%= f.input :got_comments %>
      <%= f.input :byline_user_id, collection: @users.collect {|g| [ g.full_name_reversed, g.id ]}%>
      <%= f.input :image_credits %>
      <%= f.input :sidebar %>
    <%= f.hidden_field :photo_id %>
 </fieldset>
 </div>
 <div id="english" class="hidable">
  <fieldset>
    <legend>English</legend>
      <%= f.input :title_en %>
      <%= f.input :ingress_en %>
      <%= f.input :sub_title_en %>
      <%= f.input :body_en %>
  </fieldset>
</div>
  <div id="norsk" class="hidable">
  <fieldset>
    <legend>Norsk</legend>
      <%= f.input :title_no %>
      <%= f.input :ingress_no %>
      <%= f.input :sub_title_no %>
      <%= f.input :body_no %>
  </fieldset>
  </div>
  <div class="hidable" id="preview">
  Coming soon...
  </div>
  <div class="actions">
    <%= f.submit class: "btn-primary btn" %>
  </div>
<% end %>

