<div class="pull-right">
  <%= link_to 'New Host', new_host_path, :class => "btn btn-primary"%>
</div>
<h1>Hosts</h1>
<h3><%= @hosts.length %> people able to host <%= @sum_of_available_beds %> participants.</h3>
<table class="table table-bordered table-striped">
  <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td><%= host.firstname %></td>
        <td><%= host.lastname %></td>
        <td><%= host.email %></td>
        <td><%= host.phone %></td>
        <td><%= host.capacity %></td>
        <td><%= link_to 'Show', host, :class => "btn-primary btn" %></td>
        <td><%= link_to 'Edit', edit_host_path(host), :class => "btn" %></td>
        <td><%= link_to 'Remove', host, data: { confirm: "Remove #{host.firstname} #{host.lastname}?" }, :method => :delete, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
