<div class="pull-right">
  <%= link_to 'Edit', edit_host_path(@host), :class => "btn" %>
  <%= link_to 'Back', hosts_path, :class => "btn" %>
</div>
<fieldset>
  <legend>Host</legend>
  <p>
  <b>First name:</b>
  <%= @host.firstname %>
  </p>

  <p>
  <b>Last name:</b>
  <%= @host.lastname %>
  </p>

  <p>
  <b>Email:</b>
  <%= @host.email %>
  </p>

  <p>
  <b>Phone:</b>
  <%= @host.phone %>
  </p>

  <p>
  <b>Address:</b>
  <%= @host.address %>
  </p>

  <p>
  <b>Zipcode:</b>
  <%= @host.zipcode %>
  </p>

  <p>
  <b>Place:</b>
  <%= @host.city %>
  </p>

  <p>
  <b>Number of participants:</b>
  <%= @host.capacity %>
  </p>

  <p>
  <b>Other:</b>
  <%= @host.comments %>
  </p>

  <p>
  <b>Been host before? : </b>  
    <% if @host.beenhost %>
      Ja
    <% else %>
      nei
    <% end %>
  </p>

  <p>
  <b>Is student? : </b>  
    <% if @host.isstudent %>
      Ja
    <% else %>
      nei
    <% end %>
  </p>

  <p>
  <b>Host one extra day? : </b>  
    <% if @host.extraday %>
      Ja
    <% else %>
      nei
    <% end %>
  </p>

  <p>
  <b>Host one day early? : </b>  
    <% if @host.Onedayearly %>
      Ja
    <% else %>
      nei
    <% end %>
  </p>

  <p>
  <b>Has animals?: </b>  
    <% if @host.animales %>
      Ja
    <% else %>
      nei
    <% end %>
  </p>
  
  <p>
  <b>Sleeping facilities:</b>
    <% if @host.sleeping.eql? 0 %>
      Sofa
    <% elsif @host.sleeping.eql? 1 %>
      Seng
    <% else %> 
      Trenger å låne madrass
    <% end %>
  </p>

  <p>
  <b>Sex:</b>
    <% if @host.sex.eql? 0 %>
      Ingen kjønn er foretrukket
    <% elsif @host.sex.eql? 1 %>
      Kvinne
    <% else %> 
      Mann
    <% end %>
  </p>

</fieldset>
