<div class="pull-right">
  <%= link_to 'Edit', edit_host_path(@host), :class => "btn" %>
  <%= link_to 'Back', hosts_path, :class => "btn" %>
</div>
<fieldset>
  <legend>Host</legend>
  <p>
  <b>First name:</b>
  <%= @host.firstname %>
  </p>

  <p>
  <b>Last name:</b>
  <%= @host.lastname %>
  </p>

  <p>
  <b>Email:</b>
  <%= @host.email %>
  </p>

  <p>
  <b>Phone:</b>
  <%= @host.phone %>
  </p>

  <p>
  <b>Address:</b>
  <%= @host.address %>
  </p>

  <p>
  <b>Zipcode:</b>
  <%= @host.zipcode %>
  </p>

  <p>
  <b>Place:</b>
  <%= @host.city %>
  </p>

  <p>
  <b>Number:</b>
  <%= @host.capacity %>
  </p>

  <p>
  <b>Other:</b>
  <%= @host.comments %>
  </p>
</fieldset>
