<h1>Participant applications</h1>

<p>
  Search for a participant in the form below. None of the fields are mandatory.
</p>

<%= search_form_for @search, url: search_participants_path, method: :post do |f| %>
  <%= f.label :first_name_cont, "First name" %>
  <%= f.text_field :first_name_cont %>
  <%= f.label :last_name_cont, "Last name" %>
  <%= f.text_field :last_name_cont %>
  <%= f.label :email_cont, "E-mail" %>
  <%= f.text_field :email_cont %>
  <br>
  <%= f.submit "Search" %>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Country</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <% @participants.each do |participant| %>
    <tr>
      <td><%= participant.last_name %></td>
      <td><%= participant.first_name %></td>
      <td><%= participant.country.name if participant.country %></td>
      <td><%= participant.email %></td>
    </tr>
  <% end %>

</table>
