<%= content_for :head do %>
  <meta http-equiv="refresh" content="60" />
<% end %>

<h1>Participants Stats</h1>
<div class="col-md-6">
  
  <%= render 'shared/participant_map' %>

  <div id="part-work"><h2>Workshop stats</h2></div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>1st choice</th>
        <th>2nd choice</th>
        <th>3rd choice</th>
      </tr>
    </thead>
    <% @workshops.each do |workshop| %> 
      <tr>
        <td><%= workshop.name %></td>
        <td><%= @workshop1_count[workshop.number] %></td>
        <td><%= @workshop2_count[workshop.number] %></td>
        <td><%= @workshop3_count[workshop.number] %></td>
      </tr>
    <% end %>
  </table>
    <br />
  <div id="part-app"><h2>Participants per day</h2></div>
  <%= render 'shared/participant_per_day' %>

  <%= render 'shared/participant_progression' %>

  <div id="part-gender"><h2>Participants gender</h2></div>
  <%= render 'shared/participant_gender_chart' %>

  <div id="part-age"><h2>Participants age</h2></div>
  <%= render 'shared/participant_age' %>

  <br />
</div>

<div class="col-md-2">
  <h1><%= @participant.count %></h1>
  <p>Applications</p>

  <h1><%= number_to_currency(@participant.where("travel_amount < 10000 AND travel_amount > 0").sum(:travel_amount), :unit =>"$") %></h1>
  <p>Travel support needed</p>

  <h1><%= @country_count.count %></h1>
  <p>Different countries</p>

  <ul>
    <li><a href="#part-work">Workshop stats</a></li>
    <li><a href="#part-app">Participant applications</a></li>
    <li><a href="#part-gender">Participant gender</a></li>
    <li><a href="#part-age">Participants age</a></li>
  </ul>
</div>


