<%= simple_form_for(@user, wrapper: :horizontal_form, html: { class: 'form-horizontal'}) do |f| %>

<fieldset>
  <legend>Personal information</legend>
  <%= f.input :given_name %>
  <%= f.input :family_name %>
  <%= f.input :date_of_birth, :as => :date_picker %>
  <%= f.input :phone %>
  <%= f.input :private_email %>
  <%= f.input :twitter_username %>
  <%= f.input :address %>
  <%= f.input :postal_code %>
  <%= f.input :city %>
  <%= f.input :gender, collection: [[t('gender.choose'), nil],[t('gender.male'), 1], [t('gender.female'), 2], [t('gender.other'), 0]], prompt: nil %>
</fieldset>

<fieldset>
  <legend>Education</legend>
  <%= f.input :study %>
</fieldset>
<fieldset>
  <legend>Tasks</legend>
  <%= f.input :tasks %>
</fieldset>
<fieldset>
  <legend>Administration</legend>
  <%= f.input :cardnumber_samfundet, hint: "Your samfundet car number is the member id at the
  bottom right corner of the card" %>
</fieldset>
<fieldset>
  <legend>Next of kin</legend>
  <%= f.input :next_of_kin_name %>
  <%= f.input :next_of_kin_tlf %>
</fieldset>
<fieldset>
  <legend>Allergies</legend>
  <%= f.input :vegetarian, as: :boolean %>
  <%= f.input :lactose_allergy, as: :boolean %>
  <%= f.input :gluten_allergy, as: :boolean %>
  <%= f.input :nut_allergy, as: :boolean %>
  <%= f.input :fruit_allergy, as: :boolean %>
  <%= f.input :other_allergy %>
</fieldset>
<fieldset>
  <legend>Other</legend>
  <%= f.input :local_paper, hint: "Please enter your local newspaper, so we can try to publish stories about ISFiT in them" %>

  <%= f.input :profile_picture %>
</fieldset>
  <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit (@user.new_record? ? "Sign up" : "Update"), class: "btn-primary btn" %>
      </div>
  </div>

<% end %>
