<h1><%= "#{user.full_name}" %></h1>
<h6><%= pluralize(user.positions.count, "position")%></h6>
<ul id="user-positions">
  <% user.positions.reverse.each do |position| %> 
    <li><%= position.title_en %> - <%= position.groups.first.name_en %>, <%=position.festival_year%></li>
  <% end %>
</ul>
<p>  
<% if user.date_of_birth %>
    <b>Date of birth:</b> <%= user.date_of_birth %> (<%= time_ago_in_words(user.date_of_birth) %>)<br>
  <% end %>
</p>
<p>
<b>Email:</b> <a href="mailto:<%= user.username %>@isfit.org"><%= user.username %>@isfit.org</a>
</p>
<p>
  <% if user.phone %>
    <b>Phone:</b> <%= user.phone %>
  <% end %>
</p>
<p>
  <% if user.address %>
    <b>Address:</b> <%= user.address %><br>
  <% end %>
</p>
<p>
  <% if user.postal_code %>
    <b>Postal code:</b> <%= "#{user.postal_code} #{user.city}" %><br>
  <% end %>
</p>
