<h1>Change Password</h1>
<p>
This will change the password on internal, mail and workstations
</p>
<%= form_tag(controller: "sessions", action: "mail_password", method: "post")  do %>
<div class="field">
  <%= label_tag "New password" %>
  <%= password_field_tag :new_password %>
</div>
<div class="field">
  <%= label_tag "Verify password" %>
  <%= password_field_tag :new_verified_password %>
</div>
<div class="type-button">
  <%= submit_tag "Change password" %>
</div>
<% end %>
