<div class="user readable">
  <% if @user.profile_picture? %>
    <div class="picture pull-right" >
      <%= image_tag @user.profile_picture.url(:large) %>
    </div>
  <% elsif @user == current_user %>
    <div class="pull-right">
      <p>No picture? Upload yours at <%= link_to "edit profile", edit_user_path(@user) %></p>
    </div>
  <% end %>
  <div><%=render @user %></div>
  <div>
    <h5>Tasks</h5>
    <% if @user.tasks %>
      <%= format(@user.tasks) %><br>
    <% else %>
      No task added.<br>
    <% end %>
  </div>
  <div id="kvitter-index">
    <h5>Last Kvitters</h5>
    <% if !@kvitters || @kvitters.empty? %>
      <% if @user == current_user %>
        <%= "Skriv din første kvitter idag!" %>
      <% else %>
        <%= @user.given_name %> har ikke kvitret enda :(
      <% end %>
    <% else %>
      <% @kvitters.each do |kvitter| %>
      <p class="kvitter-message"><%= kvitter.message %></p>
      <span class="small"><p class="kvitter-user"><%= time_ago_in_words kvitter.created_at.to_s %> ago</p></span>
      <% end %>
    <% end %>
  </div>
</div>
