<div class="user readable">
  <% if @user.profile_picture? %>
    <div class="picture pull-right" >
      <%= image_tag @user.profile_picture.url(:large) %>
    </div>
  <% elsif @user == current_user %>
    <div class="pull-right">
      <p>No picture? Upload yours at <%= link_to "edit profile", edit_user_path(@user) %></p>
    </div>
  <% end %>
  <div><%=render @user %></div>
  <div>
    <h5>Tasks</h5>
    <% if @user.tasks %>
      <%= format(@user.tasks) %><br>
    <% else %>
      No task added.<br>
    <% end %>
  </div>
  <div>
    <% @quests = UserQuest.where("npc_id = ? AND status = 1 AND deadline > ? AND hero_id = ?", current_user.id, DateTime.now, @user.id) %>
    <% if @quests.count > 0 %>
      <h5>Active Quests</h5>
      <% @quests.each do |q| %>
        <q><%= q.quest.quest_text %> <%= current_user.full_name %></q> <%= link_to "Approve", user_quest_finish_path(q) %>
      <% end %>
    <% end %>
  </div>

  <% if current_user.role? 'admin' %>
    <h5>Roller</h5>
    <ul>
      <% @user.roles.each do |r| %>
        <li><%= r.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>
