<h1> Status </h1>
Missing hover effect on table head for sortable
<table class="table table-bordered table-striped sortable">
  <thead>
    <tr>
      <th>Navn</th>
      <th>Organization</th>
      <th>Card status</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>

      <% if user.positions.last.groups.last.section_id %>
        <td>
          <%= Section.find(user.positions.last.groups.last.section_id).name_no %>
          (<%= user.positions.last.groups.last.name_no %>)

          <%= CardChecker.find_by_user_id(user.id) %>
        </td>
      <% else %>
          <td><%= user.positions.last.groups.last.name_no %></td>
      <% end %>
      <td>
          <a class="btn btn-mini <%='btn-success' if user.cardnumber_samfundet %>" href="#">Samfundet</a>
          <a class="btn btn-mini <%='btn-success' if user.cardnumber_ntnu %>" href="#">NTNU</a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

