<h1>Create new event</h1>

<%= form_for(@event) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.label :place %>
    <%= f.text_field :place %>

    <label for="event_start_at">
      Start time <small>(YYYYMMDD)</small>
    </label>
    <%= f.text_field :start_at %>

    <label for="event_end_at">
      End time <small>(YYYYMMDD)</small>
    </label>
    <%= f.text_field :end_at %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>