<h1><%= @event.title %></h1>

<p><strong>Place:</strong> <%= @event.place %></p>
<p><%= @event.body.html_safe %></p>
<p><strong>Start:</strong> <%= @event.start_at.strftime("%d.%m %H:%M") %></p>
<p><strong>End:</strong> <%= @event.end_at.strftime("%d.%m %H:%M") %></p>


<!-- <p><strong>Organizer:</strong> <%= link_to(@event.organizer.full_name, user_path(@event.organizer)) %></p> -->