<h4>Created: <%= @story.created_at %></h4>

<h1><%= @story.title %></h1>
<h3><%= @story.continent.display_name %> , <%= @story.happened_in.name %></h3>
<h2>Story:</h2>
<p>
	<%= @story.story %>
</p>
<h2>Solution:</h2>
<p>
	<%= @story.solution %>
</p>
<h3>Author: <%= @story.author %></h3>
<h3>Email: <%= @story.email %></h3>

<%= link_to 'Show', @story, :class => "btn-warning btn" %>