<tr class="expand">
	<td><%= drive.id %></td>
	<td>
		<%= drive.car ? drive.car.desc : "-" %>
	</td>
	<td>
	<%if drive.driver %>
		<%= link_to(drive.driver_name, user_path(drive.driver.user)) %>
	<% else %>
		-
	<% end %>
	</td>
	<td>
			<%= drive.description %>
	</td>
	<td class="drive_date"><%= drive.date_summary %></td>
	<td><%= drive.time_summary %></td>
	<td width="200px">
	<%= Drive.get_statuses[drive.status] %>
	</td>
	<td>
		<div class="btn-group">
		  <%= link_to(:"Vis", transport_drive_path(drive), :class => 'btn btn-info') %>
			<% if can? :edit, drive %>
			  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			    <span class="sr-only">Toggle Dropdown</span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			  	<li><%= link_to(:Fjern, transport_drive_path(drive), method: :delete, data:{ confirm: "Er du sikker på at du vil slette denne kjøringen? Husk, du kan redigere/endre den."}) %></li>
			    <li><%= link_to(:Endre, edit_transport_drive_path(drive.id))%></li>
			  </ul>
			<% end %>
		</div>
	</td>
</tr>