<%= render "transport/nav" %>
<h2>Kjøreoppdrag #<%= @drive.id%></h2>
<h3><%= link_to(:"Endre", edit_transport_drive_path(@drive)) if current_user.role?(:transport) %></h3>
<br>
<div class="row">
	<div class="col-md-3">
		<h4>Kontakt Person</h4>
		<%= link_to(@drive.user.full_name,@drive.user) %>
		<h4>Sjåfør</h4>
		<% if @drive.driver %>
			<%= link_to(@drive.driver_desc, transport_driver_path(@drive.driver)) %><br>
		<% else %>
			No driver assigned
		<% end %>
		<h4>Bil</h4>
		<% if @drive.driver %>
			<%= @drive.car_desc %>
		<% else %>
			No car assigned
		<% end %>
		<h4>Status</h4>
		<%= @drive.get_status %>
		<h4>Gjeng</h4>
		<%= @drive.group.name %>
		<h4>Tid</h4>
		<%= @drive.time_summary %>
	</div>
	<div class="col-md-3">
		<h3>Beskrivelse</h3>
		<%= simple_format(@drive.description) %>
	</div>
	<div class="col-md-3">
		<h3>Kommentar</h3>
		<%= simple_format(@drive.comment) %>
	</div>
</div>
<br>
