<%= render "transport/nav" %>
<h2>Kjøreoppdrag #<%= @drive.id%></h2>
<h3><%= link_to(:"Endre", edit_transport_drive_path(@drive)) if can? :edit, @drive %></h3>
<br>
<div class="row">
	<div class="col-md-4">
		<dl class="dl-horizontal">
  		<dt>Kontakt Person</dt>
  		<dd><%= link_to(@drive.user.full_name,@drive.user) %></dd>
  		<% if can? :manage, @drive %>
  		<dt>Sjåfør</dt>
  		<dd>
  			<% if @drive.driver %>
					<%= link_to(@drive.driver_desc, transport_driver_path(@drive.driver)) %><br>
				<% else %>
					No driver assigned
				<% end %>
			</dd>
			<% end %>
			<dt>Bil</dt>
			<dd>
				<%= @drive.car ? @drive.car_desc : 'No car assigned' %>
			</dd>
		</dl>
		<dl class="dl-horizontal">
			<dt>Status</dt>
			<dd>
				<%= @drive.get_status %>
			</dd>
			<dt>Gjeng</dt>
			<dd>
				<%= @drive.group.name %>
			</dd>
		<dt>Kontakt</dt>
		<dd><%= @drive.contact.blank? ? 'Ikke oppgitt' : @drive.contact %></dd>
		<% unless @drive.flight_number.blank? %>
		<dt>Flight Number</dt>
		<dd><%= @drive.flight_number %></dd>
		<% end %>
	</dl>
	<dl class="dl-horizontal">
		<dt>Date</dt>
		<dd><%= @drive.date_summary %></dd>
		<dt>Tid</dt>
		<dd><%= @drive.time_summary %></dd>
		<dt>Created at</dt>
		<dd><%= @drive.created_at %></dd>
		<dt>Updated at</dt>
		<dd><%= @drive.updated_at %></dd>
		</dl>
	</div>
	<div class="col-md-3">
		<h3>Beskrivelse</h3>
		<%= simple_format(@drive.description) %>
	</div>
	<% if can? :manage, @drive %>
	<div class="col-md-3">
		<h3>Kommentar</h3>
		<%= simple_format(@drive.comment) %>
	</div>
	<% end %>
</div>
<br>
