<ul class="nav nav-tabs">
    <li><%= link_to(:"Søk og lagre oppdrag",search_drives_path) %></li>
    <li><%= link_to(:"Mine oppdrag",you_drives_path) %></li>
    <li><%= link_to(:"Min vaktliste", shifts_you_path)%></li>
    <li><%= link_to(:"Alle oppdrag", all_drives_path) %></li>
    <li><%= link_to(:"Administrer", admin_index_path) %></li>
    <li><%= link_to(:"Info", info_path) %></li>
</ul>
<div class="row">
	<div class="span3">
		<h4 class="muted">1. Velg sjåfører for ønsket vakt</h4>
		<%= form_tag(shifts_admin_index_path, :method=>"post") do |f| %>
			<% @drivers.each do |driver| %>
				<%= check_box_tag("driver_ids[]", driver.id) %>
				<%= User.find(driver.user_id).full_name %>
				<br>
			<% end %>
	</div>
	<div class="span4">
		<h4 class="muted">2. Sett ønsket tid og dato for vakt</h4>
		<div class="input-prepend">
				<label class="control-label" for="inputIcon">Dato</label>
				<span class="add-on"><i class="icon-calendar"></i></span>
				<input id="date" type="date" name="date" placeholder="YYYY-MM-DD"	required/>
				<label class="control-label" for="inputIcon">Fra klokken</label>
				<span class="add-on"><i class="icon-time"></i></span>
				<input id="start_time" type="time" name="start_time" placeholder="HH:MM" required/>
				<label class="control-label" for="inputIcon">Til klokken</label>
				<span class="add-on"><i class="icon-time"></i></span>
				<input id="end_time" type="time" name="end_time" placeholder="HH:MM" required/>
			</div>
		<h4 class="muted">3. Lagre</h4>
		<%= submit_tag("Lagre") %>

	</div>
</div>
		<% end %>
