<ul class="nav nav-tabs">
	<li><a href="/transport">Søk og lagre oppdrag</a></li>
    <li><a <a href="/transport/driver/you/todo">Dine oppdrag</a></li>
    <li><a href="/transport/all/todo">Alle oppdrag</a></li>
    <li><a href="/transport/admin">Administrer</a></li>
</ul>

<h2>Vaktliste for <%= @name %></h2>
<p>Vaktlisten vil bli brukt til å få oversikt når en sjåfør skal være tilgjengelig til å bli satt på oppdrag. M.a.o hvis du ikke har noen vakter vil du ikke dukke opp i søket etter tilgjengelige sjåfører, med unntak når man velger å ignorere vaktlister. </p>

<div class="row">
	<div class="span6">
<% if @shifts.empty? %>
	<h3> <%= @name %> har ikke oppført noen vakter!</h3>
<% else %>
	<h3 class="muted">Oppførte skift</h3>
	<table id="shift_table" class="table table-striped sortable">
		<thead>
			<th>ID</th>
			<th>Fra klokken</th>
			<th>Til klokken</th>
			<th>Dato</th>
			<th>Fullført? (Gitt tid/dato)<th>
		</thead>
		<tbody>
			<% @shifts.each do |shift| %>
				<tr>
					<td><%= shift.id %></td>
					<td><%= shift.start_time.strftime("%H:%M")%></td>
					<td><%= shift.end_time.strftime("%H:%M") %></td>
					<td>
						<% if shift.start_time.to_date == shift.end_time.to_date %>
							<%= shift.start_time.strftime("%Y-%m-%d") %>
						<% else %>
							<%= shift.start_time.strftime("%Y-%m-%d") %> - <%= shift.end_time.strftime("%Y-%m-%d") %> 
						<% end %>
					</td>
					<td>
						<% if @current_datetime >  shift.end_time.to_date %>
							<i class="icon-ok"></i>
						<% else %>
							<i class="icon-remove"></i>
						<% end %>
					</td>
					<td>
						<%= link_to "Slett", :controller => "driver_shifts", :action => "destroy", :driver_id => shift.driver_id, :shift_id => shift.id %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
</div>
	<div class="span3">
		<h3 class="muted">Nytt skift</h3>
		<%= form_tag(:controller => "driver_shifts", :action => "create", :driver_id => params[:driver_id]) do %>
			<div class="input-prepend">
				<input type="hidden" name="driver_id" value="<%= @driver_id %>">
				<label class="control-label" for="inputIcon">Dato</label>
				<span class="add-on"><i class="icon-calendar"></i></span>
				<input id="date" type="date" name="date" placeholder="YYYY-MM-DD"	required/>
				<label class="control-label" for="inputIcon">Fra klokken</label>
				<span class="add-on"><i class="icon-time"></i></span>
				<input id="start_time" type="time" name="start_time" placeholder="HH:MM" required/>
				<label class="control-label" for="inputIcon">Til klokken</label>
				<span class="add-on"><i class="icon-time"></i></span>
				<input id="end_time" type="time" name="end_time" placeholder="HH:MM" required/>
			</div>
			<input type="submit" id="time_submit" value="Lagre">
			<% end %>
	</div>
</div>