<div class="pull-right">
<%= link_to 'Edit', edit_wiki_category_path(@wiki_category), :class => "btn" %>
<%= link_to 'Back', wiki_categories_path, :class => "btn" %>
</div>
  <p>
  <b>Title:</b>
  <%= @wiki_category.title %>
  </p>

  <p>
  <b>Slug:</b>
  <%= @wiki_category.slug %>
  </p>

  <p>
  <b>Deleted:</b>
  <%= @wiki_category.deleted %>
  </p>


