<h1><%= @contact_log_unit.company_name %></h1>

<div class="contact-log">
  <%= link_to "Create contact-log", new_contact_log_with_unit_path(@contact_log_unit), :class => "primary btn" %>
  <% for contact_log in @contact_log_unit.contact_logs %>
    <div class="contact-log">
      <div class="action-menu">
        <%= link_to :edit, edit_contact_log_path(contact_log), :class => "small btn"%>
        <%= link_to :delete, contact_log, confirm: "Are you sure?", method: :delete, :class => "small btn"  %>
      </div>
       <p class="small">Created <%= time_ago_in_words(contact_log.created_at) %> ago by <%= link_to contact_log.user.full_name, contact_log.user %>.</p>
       <p>
      <%= simple_format(truncate(contact_log.content, :length => 1000, :omission =>"...")) %>
      <%= contact_log.content.length > 1000 ? (link_to("Read more...", contact_log)):'' %>
      </p>
      <p> <%= contact_log.contact_log_person.full_name %> </p>
    </div>
  <% end %>
</div>
