<h1>Who I am?!?</h1>
<div class="span6" style="text-align:center">
<div class="picture pull-middle" >
      <img src="https://graph.facebook.com/<%= @correct_user.facebook_id %>/picture?type=large"/>
    </div> 
<div class="btn-group">
  <a href="feedback"><button class="btn"><%= @user1.full_name%></button>
  <button class="btn"><%= @user2.full_name %></button>
   <button class="btn"><%= @user3.full_name%></button>
  <button class="btn"><%= @user4.full_name %></button></a>
</div>