<h1>Who am I?</h1>
<p><b><b/></p>
<hr />
<div class="picture">
      <%= image_tag @correct_user.profile_picture.url(:large) %>
    </div>
<br>
<% @players.each do |user| %>
	<form method="POST" >
	<%= form_tag %>
	<input type="hidden" name="session" value="<%= @session.id%>">
	<input type="hidden" name="user_id" value="<%= user.id%>">
	<input class="btn" type="submit" name="user_name" value="<%= user.full_name%>">
</form>
<% end %>
	<% if @obj %>
	<% if @obj.answer == @obj.correct_user_id %>
		<h3 style="color:green">Det var riktig! Spill videre!</h3>
	 <% else %>
	 <h3 style="color:red">Det var feil... Spill videre!</h3>
	<% end %>
	<br>	
<% end %>
<br>
<a href="highscore">
	<button class="btn-large">Gå til highscorelisten</button></a>
</div>