<a href="game">
  <button class="btn btn-large btn-primary pull-right">Spill mer!</button>
</a>

<div class="row">
  <div class="span4">
    <h1>Highscore -  Uke <%= @current_week_number %></h1>

    <h3>Top 10</h3>
    <ul style="list-style-type: decimal";>
      <% @highscorer.points_sorted_current_week.each do |userkey,value| %>
        <li><%= link_to User.find(userkey).full_name, user_path(userkey) %> -> <%= value %></li>
      <% end %>
    </ul>

    <h3>Hvem har best ratio?</h3>
    <p>(ant. riktig / ant. spill av Top 10)</p>
    <ul style="list-style-type: decimal";>
      <% @best_ratio_sorted.each do |userkey,value| %>
        <li><%= link_to User.find(userkey).full_name, user_path(userkey) %> -> <%= "%0.2f" % (value*100) %>%</li>
      <% end %>
    </ul>

    <h3>Hvem kjenner ISFiT best?</h3>
    <ul style="list-style-type: decimal";>
      <% @highscorer.best_known_users_of_current_week.each do |user| %>
        <li>
          <%= link_to user.full_name, user_path(user) %> ->
          <%= number_to_percentage(user.ratio * 100, precision: 2) %>
        </li>
      <% end %>
    </ul>

    <h2>Highscore - Tidligere uker</h2>
    <h3>Top 10</h3>
    <ul style="list-style-type: decimal";>
      <% @highscorer.points_sorted.each do |user| %>
        <li><%= link_to user.full_name, user %> (<%= user.score %>)</li>
      <% end %>
    </ul>
  </div>

  <div class="span4">
    <h2>Din statistikk</h2>
    <ul style="list-style-type: none";>
      <% @highscorer.user_stats_for(current_user.id).each do |sym, val| %>
        <% string = sym.to_s.humanize %>
        <li>
          <%= string %>:
          <% if sym.eql? :percentage_won %>
            <%= number_to_percentage(val * 100, precision: 2) %>
          <% else %>
            <%= val %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <h2>Tidligere vinnere</h2>
    <% @best_points_weekly.each do |week, args| %>
      <% if week != @current_week_number %>
        <h4><%= week.to_s[0..3] + ", Uke " + week.to_s[4..5] %>: </h4>
        <ul>
          <li>
            <% user = User.find args[0] %>
            <%= link_to user.full_name, user %> (<%= args[1] %>)
          </li>
        </ul>
      <% end %>
    <% end %> 
  </div>
</div>
