<div class="hero-unit">
	<% if current_user.profile_picture? %>
    	<div class="thumbnail pull-left" >
      		<%= image_tag kvitter.user.profile_picture.url(:small) %>
    	</div>
  	<% end %>

	<p class="kvitter-user"><%= "@" + kvitter.user.username %></p>
	<p class="kvitter-message"><%= kvitter.message %></p>
	<a href="#" class="awesome" data-id="<%= kvitter.id %>">\o/</a>
	<span class="count"><%= kvitter.awesomes.count %></span> 

	<span class="small">
		<p>
			<%= kvitter.user.full_name %>
			<%= time_ago_in_words kvitter.created_at.to_s %> ago
		</p>
	</span>
</div>