<%= form_for RoomBooking.new do |f| %>
  <%= f.hidden_field :reserved_at, value: reserved_at %>
  <%= f.hidden_field :room_id, value: room.id %>
  <% disabled = disabled?(current_user,reserved_at) %>
  <% if booking %>
    <% if booking[:user] == current_user %>
      <%= content_tag :a ,class: "btn btn-mini btn-danger room_reservation_self #{'disabled' if disabled}", data: {booking: booking[:id]} do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    <% else %>
      <a href="#" rel ="tooltip" data-original-title="<%=booking[:user].full_name%>" class="btn btn-mini btn-danger disabled room_reservation_uavl"><%= booking[:user].initiales %></a>
    <% end %>
  <% else %>
    <a class="btn btn-mini btn-success room_reservation_avl <%='disabled' if disabled %>"><span class="glyphicon glyphicon-ok"></span></a>
  <% end %>
<% end %>
