<ul class="nav nav-tabs">
	<li><a href="/transport">Søk og lagre oppdrag</a></li>
    <li class="active"><a <a href="/transport/driver/you/todo">Dine oppdrag</a></li>
    <li><a href="/transport/all/todo">Alle oppdrag</a></li>
    <li><a href="/transport/admin">Administrer</a></li>
</ul>
<table id="todo_table" class="table table-striped">
	<thead>
		<th>ID</th>
		<th>Bil</th>
		<th>Beskrivelse</th>
		<th>Kommentar</th>
		<th>Start tid</th>
		<th>Slutt tid</th>
		<th>Dato</th>
		<th>Fullført?<th>
	</thead>
	<tbody>
		<% @driver_jobs.each do |job| %>
		<tr>
			<td><%= job.id %></td>
			<td><% if Car.find_by_id(job.car_id) %> <%= Car.find(job.car_id).description %> <% else %> [Slettet] <% end %> </td>
			<td><%= job.description %></td>
			<td id="<%= job.id %>" class="closed"><div id="comment_text"><%= job.comment %></div><a class="edit_comment" href="#">[Endre]</a></td>
			<td><%= job.start_time.strftime("%H:%M") %></td>
			<td><%= job.end_time.strftime("%H:%M") %></td>
			<td class="drive_date"><%= job.start_time.strftime("%Y-%m-%d") %></td>
			<td>
			<% if job.completed %>
				<button id="<%= job.id %>" class="btn btn-success">X</button>
			<% else %>
				<button id="<%= job.id %>" class="btn btn-danger">X</i></button>
			<% end %>

			</td>
		</tr>
		<% end %>
	</tbody>

</table