<h1><%= group.name_en %> <%= link_to organization_chart_group_path(group, :format => :vcf) do %><%= image_tag "icon/vcard.png" %><% end %></h1>
<p>
    <% if group.email %>
        <b>Email:</b> <%= mail_to group.email %><br>
    <% end %>
</p>
<h2>Positions</h2>
<%= render partial: "position", collection: group.positions %>
