<h1><%= section.name_en %> <%= link_to organization_chart_section_path(section, :format => :vcf) do %><%= image_tag "icon/vcard.png" %><% end %></h1>
<p>
    <b>Email:</b> <%= mail_to section.email %><br>
</p>
<h2>Groups</h2>
<div class="tabbable" id="org-chart-section">
    <ul class="nav nav-pills">
        <%= render :partial => "group_link", :collection => section.groups %>
    </ul>
    <div class="tab-content">
        <%= render partial: "group", locals: { group: section.groups.first } %>
    </div>
</div>
