<%= content_for :sidebar do %>
  <%= render 'shared/user_quest_widget' %>
<% end %>

<h1>Highscore List</h1>

<p>You have completed <%= UserQuest.where("status = 2 AND hero_id = ?", current_user.id).count %> tasks.</p>

<h2>Instructions</h2>

<ol>
  <li>Find the person to do the quest.</li>
  <li>Finish your quest, young hero!</li>
  <li>Ask the person to visit your Internal profile to approve the quest.</li>
  <li>GOTO 1.</li>
</ol>

<h2>Top 20 heroes</h2>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Completed quests</th>
  </tr>
  <% @stats.each do |id,number| %>
    <tr>
      <td><%= User.find_by_id(id).full_name %></td>
      <td><%= number %></td>
    </tr>
  <% end %>
</table>

<h2>Top quests</h2>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Completed quests</th>
  </tr>
  <% @quests.each do |id,number| %>
    <tr>
      <td><%= Quest.find_by_id(id).quest_text %></td>
      <td><%= number %></td>
    </tr>
  <% end %>

</table>
