<ul class="nav nav-tabs">
    <li><%= link_to(:"Søk og lagre oppdrag",search_drives_path) %></li>
    <li><%= link_to(:"Mine oppdrag",you_drives_path) %></li>
    <li><%= link_to(:"Min vaktliste", shifts_you_path)%></li>
    <li><%= link_to(:"Alle oppdrag", all_drives_path) %></li>
    <li><%= link_to(:"Administrer", admin_index_path) %></li>
    <li><%= link_to(:Info, info_path) %></li>
</ul>

    Navn:<br> <%= @car.name %><br>
    Beskrivelse:<br> <%=@car.description %><br>
    Plass: <br> <%= @car.space %><br>
    Seter: <br> <%= @car.seats %><br>
