<%= simple_form_for(@participant_quote) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.text_area :quote, class: "col-md-6", rows: 5 %>
    <%= f.input :category, collection: { "Inspirational" => "Inspirational", "Funny" => "Funny" }, as: :select %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
