<div class="pull-right">
  <% if can?(:create, ParticipantQuote) %>
  <%= link_to 'New Participant quote', new_participant_quote_path, :class => "btn btn-primary"%>
  <% end %>
</div>
<h1>Quotes from the participants</h1>
<p>These are some of the quotes from the participants we found while reading the applications</p>
<div class="alert alert-info">
  <p>This information is <b>confidential</b> and should <b>NOT</b> be shared on social medias.</p>
</div>
  <% @participant_quotes.each do |participant_quote| %>
    <blockquote class="span3">
      <p><%= participant_quote.quote %></p>
      <p><small>
        <%= link_to 'Show', participant_quote %>
        <% if can?(:manage, ParticipantQuote) %>
          <%= link_to "Edit", edit_participant_quote_path(participant_quote) %>
          <%= link_to 'Destroy', participant_quote, confirm: 'Are you sure?', method: :delete %>
        <% end %>
      </small></p>
    </blockquote>
    <% end %>

