<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Section:</b>
  <%= @account.section.name if @account.section %>
</p>

<p>
<b>Contact Email:</b>
	<%= @account.contact_email %>
</p>

<p>
  <b>Account number:</b>
  <%= @account.account_number %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
