<h1>Travel refund form</h1>
<p>Fill in the form below and press "Create form" to
generate a printable travel refund form.</p>
<%= form_tag print_travel_accounts_path do %>
<table width="725">
	<tr>
		<td width="150">Date:</td>
		<td colspan="3"><%= Time.now.strftime("%d.%m.%Y") %></td>
	</tr>
	<tr>
		<td>Name:</td>
		<td colspan="3"><%= current_user.full_name_reversed %></td>
	</tr>
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr>
		<td>Unit:</td>
		<td colspan="3">
		  <%= select(:voucher, :unit, @unit_choices_text) %></td>
	</tr>
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr>
		<td>Refund account number:</td>
		<td colspan="3">
			<%= text_field(:voucher, :account_no, :style => 'width: 250px') %>
		</td>
	</tr>
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr>
		<td>Purpose of travel:</td>
		<td colspan="3">
			<%= text_field(:voucher, :purpose, :style => 'width: 250px') %>
		</td>
	</tr>
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr>
		<td>Attachments:</td>
		<td colspan="3"><%= select(:voucher, :attachments, [0,1,2,3,4,5,6,7,8,9,10], {}, 
			{:style => 'width: 50px'}) %></td>
	</tr>
	<tr><td colspan="4">&nbsp;</td></tr>
	<tr valign="top" class="addline">
		<td id="date_col" >
			Date:<br />
			<%= text_field(:travel, :date1, :class => 'date', 'data-number' => '1') %>
		</td>
		<td id="route_col">
			Travel route:<br />
			<%= text_field(:travel, :route1, :class => 'route', 'data-number' => '1') %>
		</td>
		<td id="means_col">
			Means of transport:<br />
			<%= text_field(:travel, :means1, :class => 'means', 'data-number' => '1') %>
		</td>
		<td id="amount_col">
			Amount (NOK):<br />
			<%= text_field(:travel, :amount1, :class => 'amount', 'data-number' => '1') %>
		</td>
	</tr>
	<tr>
		<td><%= submit_tag('Create form', class: "primary btn") %></td>
		<td align="right" colspan="3">
			<input type="button" class="addrow btn" value="Add row"  />
			<input type="button" class="removerow btn" value="Remove row" />
		</td>
	</tr>
</table>
<% end %>
