<script type="text/javascript">
	var rowCount = 1;

	function addRow() {
		rowCount++;

		var amount_col = document.getElementById("amount_col");
		var desc_col = document.getElementById("desc_col");
		
		var amount_input = document.createElement("INPUT");
		amount_input.setAttribute("type", "text");
		amount_input.setAttribute("id", "voucher_amount" + rowCount);
		amount_input.setAttribute("name", "voucher[amount" + rowCount + "]");
		amount_input.setAttribute("class", "amount");

		var desc_input = document.createElement("INPUT");
		desc_input.setAttribute("type", "text");
		desc_input.setAttribute("id", "voucher_description" + rowCount);
		desc_input.setAttribute("name", "voucher[description" + rowCount + "]");
		desc_input.setAttribute("class", "description");

		amount_col.appendChild(amount_input);
		desc_col.appendChild(desc_input);
	}

	function removeRow() {
		if (rowCount > 1) {
			var amount_col = document.getElementById("amount_col");
			var desc_col = document.getElementById("desc_col");

			amount_col.removeChild(amount_col.lastChild);
			desc_col.removeChild(desc_col.lastChild);

			rowCount--;
		}
	}
</script>
<style type="text/css">
	input.amount
	{
		margin-bottom: 4px;
		width: 120px;
	}
	input.description
	{
		margin-bottom: 4px;
		width: 250px;
	}
</style>
<h1>Voucher form</h1>
<p>Fill in the form below and press "Create form" to
generate a printable voucher form.</p>
<%= form_tag print_voucher_accounts_path do %>
<table width="400">
	<tr>
		<td width="150">Date:</td>
		<td><%= Time.now.strftime("%d.%m.%Y") %></td>
	</tr>
	<tr valign="top">
		<td>Name:</td>
		<td><%= "#{current_user.full_name_reversed}" %><br /><br /></td>
	</tr>
	<tr valign="top">
    <td>Unit:</td>
		<td><%= select(:voucher, :unit, @unit_choices_text) %><br /></td>
	</tr>
	<tr>
		<td>Refund:</td>
		<td><%= check_box(:voucher, :refund) %></td>
	</tr>
	<tr>
		<td></td>
		<td>
			Account number:<br />
			<%= text_field(:voucher, :account_no, :style => 'width: 250px') %>
			<br /><br />
		</td>
	</tr>
	<tr valign="top">
		<td>Attachments:</td>
		<td><%= select(:voucher, :attachments, [0,1,2,3,4,5,6,7,8,9,10], {}, 
			{:style => 'width: 50px'}) %><br /><br /></td>
	</tr>
	<tr valign="top">
		<td id="amount_col">
			Amount (NOK):<br />
			<%= text_field(:voucher, :amount1, :class => 'amount') %>
		</td>
		<td id="desc_col">
			Description:<br />
			<%= text_field(:voucher, :description1, :class => 'description') %>
		</td>
	</tr>
	<tr>
		<td><br /><%= submit_tag('Create form') %></td>
		<td align="right"><br />
			<input type="button" value="Add row" onclick="addRow();" />
			<input type="button" value="Remove row" onclick="removeRow();" />
		</td>
	</tr>
</table>
<% end %>
